<%= form_for(@family_member) do |f| %>
  <% if @family_member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@family_member.errors.count, "error") %> prohibited this degree from being saved:</h2>

      <ul>
      <% @family_member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :person, 'Person ID' %><br />
    <%= f.select(:person_id, options_for_select(@people.collect {|u| [u.last_name + ", " + u.first_name, u.id]}, @person.id))%>
  </div>
	<div class="field">
		<%= f.label :name, "Related To" %><br />
		<%= f.select(:name, options_for_select(@people.collect {|r| [r.last_name + ", " + r.first_name]})) %>
	</div>
  <div class="field">
    <%= f.label :relationship %><br />
    <%= f.text_field :relationship %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_field :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
