<p id="notice"><%= notice %></p>

<p>
  <b>Person:</b>
  <%= @contributors_pac.person_id %>
</p>

<p>
  <b>Name:</b>
  <%= @contributors_pac.name %>
</p>

<p>
  <b>Amount:</b>
  <%= @contributors_pac.amount %>
</p>


<%= link_to 'Edit', edit_contributors_pac_path(@contributors_pac) %> |
<%= link_to 'Back', contributors_pacs_path %>
