<%= form_for(@sponsored_legislation) do |f| %>
  <% if @sponsored_legislation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sponsored_legislation.errors.count, "error") %> prohibited this sponsored_legislation from being saved:</h2>

      <ul>
      <% @sponsored_legislation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :person_id %><br />
    <%= f.select(:person_id, options_for_select(@people.collect {|u| [u.last_name + ", " + u.first_name, u.id]}, @person.id))%>
  </div>
	<div class="field">
    <%= f.label :sponsor, 'Sponsor' %><br />
    <%= f.radio_button :sponsor, "0" %>
  </div>
	<div class="field">
    <%= f.label :sponsor, 'Co-sponsor' %><br />
		<%= f.radio_button :sponsor, "1" %>
  </div>
  <div class="field">
    <%= f.label :bill_number %><br />
    <%= f.text_field :bill_number %>
  </div>
  <div class="field">
    <%= f.label :year_of_congress %><br />
    <%= f.date_select :year_of_congress, :discard_month => true, :discard_day => true %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
