<div class="representatives-col2 four columns one-of-five">
  <h2><%= link_to "A-C", {:action => 'refresh_officials', :name => 'A-C', :chamber => chamber}, :remote => true %></h2>
  <h2><%= link_to "D-F", {:action => 'refresh_officials', :name => 'D-F', :chamber => chamber}, :remote => true %></h2>
  <h2><%= link_to "G-I", {:action => 'refresh_officials', :name => 'G-I', :chamber => chamber}, :remote => true %></h2>
  <h2><%= link_to "J-L", {:action => 'refresh_officials', :name => 'J-L', :chamber => chamber}, :remote => true %></h2>
</div>
<div class="representatives-col3 four columns one-of-five">
  <h2><%= link_to "M-O", {:action => 'refresh_officials', :name => 'M-O', :chamber => chamber}, :remote => true %></h2>
  <h2><%= link_to "P-R", {:action => 'refresh_officials', :name => 'P-R', :chamber => chamber}, :remote => true %></h2>
  <h2><%= link_to "S-U", {:action => 'refresh_officials', :name => 'S-U', :chamber => chamber}, :remote => true %></h2>
  <h2><%= link_to "V-Z", {:action => 'refresh_officials', :name => 'V-Z', :chamber => chamber}, :remote => true %></h2>
</div>
