<div class="representatives-col2 three columns one-of-five">
  <ul>
    <li><%= link_to "Alabama", {:action => 'refresh_officials', :state_represented => 'AL', :chamber => chamber}, :remote => true %></li>
    <li><%= link_to "Alaska", {:action => 'refresh_officials', :state_represented => 'AK', :chamber => chamber}, :remote => true %></li>
    <li><%= link_to "American Samoa", {:action => 'refresh_officials', :state_represented => 'AS', :chamber => chamber}, :remote => true %></li>
    <li><%= link_to "Arizona", {:action => 'refresh_officials', :state_represented => 'AZ', :chamber => chamber}, :remote => true %></li>
    <li><%= link_to "Arkansas", {:action => 'refresh_officials', :state_represented => 'AR', :chamber => chamber}, :remote => true %></li>
    <li><%= link_to "California", {:action => 'refresh_officials', :state_represented => 'CA', :chamber => chamber}, :remote => true %></li>
    <li><%= link_to "Colorado", {:action => 'refresh_officials', :state_represented => 'CO', :chamber => chamber}, :remote => true %></li>
    <li><%= link_to "Connecticut", {:action => 'refresh_officials', :state_represented => 'CT', :chamber => chamber}, :remote => true %></li>
    <li><%= link_to "Delaware", {:action => 'refresh_officials', :state_represented => 'DE', :chamber => chamber}, :remote => true %></li>
    <li><%= link_to "District of Columbia", {:action => 'refresh_officials', :state_represented => 'DC', :chamber => chamber}, :remote => true %></li>
    <li><%= link_to "Florida", {:action => 'refresh_officials', :state_represented => 'FL', :chamber => chamber}, :remote => true %></li>
    <li><%= link_to "Georgia", {:action => 'refresh_officials', :state_represented => 'GA', :chamber => chamber}, :remote => true %></li>
    <li><%= link_to "Guam", {:action => 'refresh_officials', :state_represented => 'GU', :chamber => chamber}, :remote => true %></li>
    <li><%= link_to "Hawaii", {:action => 'refresh_officials', :state_represented => 'HI', :chamber => chamber}, :remote => true %></li>
    <li><%= link_to "Idaho", {:action => 'refresh_officials', :state_represented => 'ID', :chamber => chamber}, :remote => true %></li>
    <li><%= link_to "Illinois", {:action => 'refresh_officials', :state_represented => 'IL', :chamber => chamber}, :remote => true %></li>
  </ul>
</div>
<div class="representatives-col3 three columns one-of-five">
  <ul>
    <li><%= link_to "Indiana", {:action => 'refresh_officials', :state_represented => 'IN', :chamber => chamber}, :remote => true %></li>
    <li><%= link_to "Iowa", {:action => 'refresh_officials', :state_represented => 'IA', :chamber => chamber}, :remote => true %></li>
    <li><%= link_to "Kansas", {:action => 'refresh_officials', :state_represented => 'KS', :chamber => chamber}, :remote => true %></li>
    <li><%= link_to "Kentucky", {:action => 'refresh_officials', :state_represented => 'KY', :chamber => chamber}, :remote => true %></li>
    <li><%= link_to "Louisiana", {:action => 'refresh_officials', :state_represented => 'LA', :chamber => chamber}, :remote => true %></li>
    <li><%= link_to "Maine", {:action => 'refresh_officials', :state_represented => 'ME', :chamber => chamber}, :remote => true %></li>
    <li><%= link_to "Maryland", {:action => 'refresh_officials', :state_represented => 'MD', :chamber => chamber}, :remote => true %></li>
    <li><%= link_to "Massachusetts", {:action => 'refresh_officials', :state_represented => 'MA', :chamber => chamber}, :remote => true %></li>
    <li><%= link_to "Michigan", {:action => 'refresh_officials', :state_represented => 'MI', :chamber => chamber}, :remote => true %></li>
    <li><%= link_to "Minnesota", {:action => 'refresh_officials', :state_represented => 'MN', :chamber => chamber}, :remote => true %></li>
    <li><%= link_to "Mississippi", {:action => 'refresh_officials', :state_represented => 'MS', :chamber => chamber}, :remote => true %></li>
    <li><%= link_to "Missouri", {:action => 'refresh_officials', :state_represented => 'MO', :chamber => chamber}, :remote => true %></li>
    <li><%= link_to "Montana", {:action => 'refresh_officials', :state_represented => 'MT', :chamber => chamber}, :remote => true %></li>
    <li><%= link_to "Nebraska", {:action => 'refresh_officials', :state_represented => 'NE', :chamber => chamber}, :remote => true %></li>
    <li><%= link_to "Nevada", {:action => 'refresh_officials', :state_represented => 'NV', :chamber => chamber}, :remote => true %></li>
    <li><%= link_to "New Hampshire", {:action => 'refresh_officials', :state_represented => 'NH', :chamber => chamber}, :remote => true %></li>
  </ul>
</div>
<div class="representatives-col4 three columns one-of-five">
  <ul>
    <li><%= link_to "New Jersey", {:action => 'refresh_officials', :state_represented => 'NJ', :chamber => chamber}, :remote => true %></li>
    <li><%= link_to "New Mexico", {:action => 'refresh_officials', :state_represented => 'NM', :chamber => chamber}, :remote => true %></li>
    <li><%= link_to "New York", {:action => 'refresh_officials', :state_represented => 'NY', :chamber => chamber}, :remote => true %></li>
    <li><%= link_to "North Carolina", {:action => 'refresh_officials', :state_represented => 'NC', :chamber => chamber}, :remote => true %></li>
    <li><%= link_to "North Dakota", {:action => 'refresh_officials', :state_represented => 'ND', :chamber => chamber}, :remote => true %></li>
    <li><%= link_to "Northern Marianas Islands", {:action => 'refresh_officials', :state_represented => 'CW', :chamber => chamber}, :remote => true %></li>
    <li><%= link_to "Ohio", {:action => 'refresh_officials', :state_represented => 'OH', :chamber => chamber}, :remote => true %></li>
    <li><%= link_to "Oklahoma", {:action => 'refresh_officials', :state_represented => 'OK', :chamber => chamber}, :remote => true %></li>
    <li><%= link_to "Oregon", {:action => 'refresh_officials', :state_represented => 'OR', :chamber => chamber}, :remote => true %></li>
    <li><%= link_to "Pennsylvania", {:action => 'refresh_officials', :state_represented => 'PA', :chamber => chamber}, :remote => true %></li>
    <li><%= link_to "Puerto Rico", {:action => 'refresh_officials', :state_represented => 'PR', :chamber => chamber}, :remote => true %></li>
    <li><%= link_to "Rhode Island", {:action => 'refresh_officials', :state_represented => 'RI', :chamber => chamber}, :remote => true %></li>
    <li><%= link_to "South Carolina", {:action => 'refresh_officials', :state_represented => 'SC', :chamber => chamber}, :remote => true %></li>
    <li><%= link_to "South Dakota", {:action => 'refresh_officials', :state_represented => 'SD', :chamber => chamber}, :remote => true %></li>
    <li><%= link_to "Tennessee", {:action => 'refresh_officials', :state_represented => 'TN', :chamber => chamber}, :remote => true %></li>
    <li><%= link_to "Texas", {:action => 'refresh_officials', :state_represented => 'TX', :chamber => chamber}, :remote => true %></li>
  </ul>
</div>
<div class="representatives-col5 three columns one-of-five">
  <ul>
    <li><%= link_to "Utah", {:action => 'refresh_officials', :state_represented => 'UT', :chamber => chamber}, :remote => true %></li>
    <li><%= link_to "Vermont", {:action => 'refresh_officials', :state_represented => 'VT', :chamber => chamber}, :remote => true %></li>
    <li><%= link_to "Virginia", {:action => 'refresh_officials', :state_represented => 'VA', :chamber => chamber}, :remote => true %></li>
    <li><%= link_to "Virgin Islands", {:action => 'refresh_officials', :state_represented => 'VI', :chamber => chamber}, :remote => true %></li>
    <li><%= link_to "Washington", {:action => 'refresh_officials', :state_represented => 'WA', :chamber => chamber}, :remote => true %></li>
    <li><%= link_to "West Virginia", {:action => 'refresh_officials', :state_represented => 'WV', :chamber => chamber}, :remote => true %></li>
    <li><%= link_to "Wisconsin", {:action => 'refresh_officials', :state_represented => 'WI', :chamber => chamber}, :remote => true %></li>
    <li><%= link_to "Wyoming", {:action => 'refresh_officials', :state_represented => 'WY', :chamber => chamber}, :remote => true %></li>
  </ul>
</div>
