<tr class="fields actions">
	<%= f.hidden_field :person_id, :value => @person.id %>
		
	 <td><%= f.text_field :organization_name, :class => 'organization-list', data: {organizations_source: organizations_autocomplete_organization_name_path} %></td>	
	 <td class="span2"><%= f.text_field :full_name, :class => 'span2' %></td>
   <td class="span2"><%= f.text_field :business_relationship, :class => 'span2' %></td>
   <td class="span2"><%= f.text_field :position, :class => 'span2' %></td>
	<td><%= link_to_remove_fields "remove", f %></td>
</tr>
