<tr class="fields actions">
	<%= f.hidden_field :person_id, :value => @person.id %>

    <td><%= f.date_select(:campaign_year, :start_year => 1951, :discard_day => true, :discard_month => true) %></td>
    <td><%= f.text_field :topic %></td>
    <td><%= f.text_field :position_on_issue %></td>
		<td><%= link_to_remove_fields "remove", f %></td>
</tr>