<% p = Person.find(params[:pid]) %>

<h1 class="popup-title">Contact</h1>
<% if p.addresses.count > 0 %>
  <% addresses = p.addresses %>
  <% addresses.each do |a| %>
    <address>
      <h4 class="popup-subtitle"><%= a.title %></h4>
      <%= a.street_address %><br>
      <%= a.city %>, <%= a.state %> <%= a.zip_code %><br>
      Phone: <%= a.phone %><br>
      Fax: <%= a.fax %>
    </address><br>
  <% end %>
<% end %>

<% unless p.contact_email.blank? %>
  <h4 class="popup-subtitle">Email</h4>
  <%= p.contact_email %><br>
<% end %>

