<div class="fields">
	<%= f.hidden_field :person_id, :value => @person.id %>
	<p>
	   <%= f.label :organization %><br />
	   <%= f.select(:organization_id, options_for_select(@organizations.collect {|c| [c.name, c.id]}, f.object.organization_id.to_s)) %>
	</p>
	<p>
		<%= f.label :amount %><br />
		<%= f.text_field :amount %>
	</p>
	<%= link_to_remove_fields "remove contributor", f %>
</div>
