<tr class="fields actions">
	<%= f.hidden_field :person_id, :value => @person.id %>

    <td><%= f.text_field :name %></td>
    <td><%= f.date_select(:year, :start_year => 1951, :discard_day => true, :discard_month => true) %></td>
    <td><%= f.text_field :amount %></td>
		<td>
			<span class="label important">
				<%= link_to_remove_fields "remove", f %>
			</span>
		</td>
</tr>
