<h3>Family Members</h3>
<table class="zebra-striped">
  <tr>
    <th>Related to</th>
    <th>Relationship</th>
    <th>Notes</th>
    <th></th>
  </tr>
  <%= f.fields_for(:family_members, @person.family_members) do |family_member| %>
  <%= render 'family_member_fields', :f => family_member %>
  <% end %>
  <tr class="addfield">
    <td>
      <%= link_to_add_fields "Add New Family Member", f, :family_members %>
    </td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>

<h3>Business Associates</h3>
<table class="zebra-striped">
  <tr>
    <th>Organization</th>
    <th>Business Associate</th>
    <th>Relationship</th>
    <th>Position</th>
    <th></th>
  </tr>
  <%= f.fields_for :business_associates do |business_associate| %>
  <%= render 'business_associate_fields', :f => business_associate %>
  <% end %>
  <tr>
    <td>
      <%= link_to_add_fields "Add New Business Associate", f, :business_associates %>
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
