<div class="fields">
	<%= f.hidden_field :person_id, :value => @person.id %>
	<p>
		<%= f.label :name, "Related to" %><br />
		<%= f.text_field :name %>
	</p>
  <p>
    <%= f.label :relationship %><br />
    <%= f.text_field :relationship %>
  </p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_field :notes %>
  </p>
	<%= link_to_remove_fields "remove family member", f %>
</div>
