<div class="fields">
	<%= f.hidden_field :person_id, :value => @person.id %>
	<p>
    <%= f.label :year, "Year" %><br />
    <%= f.date_select(:year, :start_year => 1951, :discard_day => true, :discard_month => true) %>
  </p>
	<p>
    <%= f.label :issue %><br />
    <%= f.text_field :issue %>
  </p>
	<p>
    <%= f.label :flipflop %><br />
    <%= f.text_field :flipflop %>
  </p>
	<%= link_to_remove_fields "remove flip flop", f %>
</div>