<%= form_for(@person) do |f| %>
<%= error_messages_for(@person) %>

	<div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :middle_name %><br />
    <%= f.text_field :middle_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :suffix %><br />
    <%= f.text_field :suffix %>
  </div>
	<div class="field">
		<%= f.label :religion, 'Religion' %><br />
		<%= collection_select(:person, :religion_id, Religion.all, :id, :name, {:include_blank => true}) %>
	</div>
  <div class="field">
    <%= f.label :date_of_birth %><br />
    <%= f.date_select :date_of_birth, :order => [:month, :day, :year], :start_year => 1901 %>
  </div>
  <div class="field">
    <%= f.label :date_of_death %><br />
    <%= f.date_select :date_of_death, :order => [:month, :day, :year], :start_year => 1851, :include_blank => true, :default => nil %>
  </div>
  <div class="field">
    <%= f.label :bio %><br />
    <%= f.text_area :bio %>
  </div>
  <div class="field">
    <%= f.label :professional_experience %><br />
    <%= f.text_area :professional_experience %>
  </div>
  <div class="field">
    <%= f.label :literary_work %><br />
    <%= f.text_area :literary_work %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

