<%= form_for(@person, :html => {:class => 'form-stacked', :style => 'padding: 0;'}) do |f| %>
<%= error_messages_for(@person) %>

<ul class="tabs">
  <li><a class="active" href="#basic-info">Basic Info</a></li>
  <li><a href="#contact-info">Contact</a></li>
  <li><a href="#personal">Personal</a></li>
  <li><a href="#relationships">Relationships</a></li>
  <li><a href="#financial">Financial</a></li>
  <li><a href="#education">Education</a></li>
  <li><a href="#political">Political</a></li>
  <li><a href="#controversy">Controversy</a></li>
  <li><a href="#establishment">Establishment</a></li>
</ul>

<ul class="tabs-content" style="width: 940px;">
  <li class="active box_a" id="basic-info" class="fifteen columns" style="min-height: 420px;">
    <%= render 'layouts/messages' %>
    <%= render 'form-personal', :f => f %>
  </li>

  <li class="box_a" id="contact-info" style="min-height: 400px; min-width: 890px;">
    <%= render 'tab2', :f => f %>
  </li>

  <li class="box_a" id="personal">
    <%= render 'tab3', :f => f %> 
  </li> <!-- /#personal-tab -->

  <li class="box_a" id="relationships">
    <%= render 'familymembers', :f => f %>
  </li>
  <li class="box_a" id="financial" style="height: 200px;">
    <%= render 'tab4', :f => f %>
  </li> <!-- /#financial-tab -->

  <li class="box_a" id="education">
    <%= render 'tab5', :f => f %>
  </li> <!-- /#education-tab -->

  <li class="box_a" id="political">
    <%= render 'tab6', :f => f %>
  </li> <!-- /#political-tab -->

  <li class="box_a" id="controversy">
    <%= render 'tab7', :f => f %>
  </li> <!-- /#controversy-tab -->

  <li class="box_a" id="establishment">
    <%= render 'tab8', :f => f %>
  </li> <!-- /#establishment-tab -->
</ul>

<div class="fifteen columns">
  <p class="right">
    <%= f.submit 'Update Person', :class => 'button' %>
  </p>
  <p class="left">
    <%= link_to 'Show', @person %> |
    <%= link_to 'Back', people_path %>
  </p>
</div>

<% end %>
