<div id="tabs-1">
<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<%= render 'form-personal', :f => f %>

</div> <!-- /#personal-tab -->

<div id="tabs-2">	
  <%= f.fields_for :family_members do |family_member| %>
		<%= render 'family_member_fields', :f => family_member %>
  <% end %>
	<p><%= link_to_add_fields "Add New Family Member", f, :family_members %></p>
	
	<%= f.fields_for :business_associates do |business_associate| %>
		<%= render 'business_associate_fields', :f => business_associate %>
	<% end %>
	<p><%= link_to_add_fields "Add New Business Associate", f, :business_associates %></p>
</div> <!-- /#relationships-tab -->

<div id="tabs-3">	
	<%= f.fields_for :personal_assets do |asset| %>
		<%= render 'personal_asset_fields', :f => asset %>
	<% end %>
	<p><%= link_to_add_fields "Add New Asset", f, :personal_assets %></p>
	
	<%= f.fields_for :transactions do |transaction| %>
		<%= render 'transaction_fields', :f => transaction  %>
	<% end %>
	<p><%= link_to_add_fields "Add New Transaction", f, :transactions %></p>
</div> <!-- /#financial-tab -->

<div id="tabs-4">
	<%= f.fields_for :degrees do |degree| %>
		<%= render 'degree_fields', :f => degree %>
	<% end %>
	<p><%= link_to_add_fields "Add Degree", f, :degrees %></p>
</div>

<div id="tabs-5">
	<%= f.fields_for :endorsements do |endorsement| %>
		<%= render 'endorsement_fields', :f => endorsement %>
	<% end %>
	<p><%= link_to_add_fields "Add Endorsement", f, :endorsements %></p>
	
	<%= f.fields_for :issue_positions do |issue_position| %>
		<%= render 'issue_position_fields', :f => issue_position %>
	<% end %>
	<p><%= link_to_add_fields "Add Issue Position", f, :issue_positions %></p>
	
</div>


<p><%= f.submit %></p>

<% end %>
