<h3>Basic Info</h3>
	<div class="field">
    <%= f.label :photo_url %>
    <%= f.text_field :photo_url %>
  </div>
	<div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :middle_name %>
    <%= f.text_field :middle_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :suffix %>
    <%= f.text_field :suffix %>
  </div>
<div class="field">
	<%= f.label :religion, 'Religion' %>
	<%= collection_select(:person, :religion_id, Religion.all, :id, :name, {:include_blank => true}) %>
</div>
  <div class="field">
    <%= f.label :date_of_birth %>
    <%= f.date_select :date_of_birth, {:order => [:month, :day, :year], :start_year => 1901}, {:class => 'span2'} %>
  </div>
  <div class="field">
    <%= f.label :date_of_death %>
    <%= f.date_select :date_of_death, {:order => [:month, :day, :year], :start_year => 1851, :include_blank => true, :default => nil}, {:class => 'span2'} %>
  </div>
  <div class="field">
    <%= f.label :bio %>
    <%= f.text_area :bio, :rows => 3, :class => 'span6' %>
  </div>
  <div class="field">
    <%= f.label :professional_experience %>
    <%= f.text_area :professional_experience, :rows => 3, :class => 'span6' %>
  </div>
  <div class="field">
    <%= f.label :literary_work %>
    <%= f.text_area :literary_work, :rows => 3, :class => 'span6' %>
  </div>
	<div class="field">
		<%= f.label :net_worth_minimum %>
		<%= f.text_field :net_worth_minimum %>
	</div>
	<div class="field">
		<%= f.label :net_worth_average %>
		<%= f.text_field :net_worth_average %>
	</div>
	<div class="field">
		<%= f.label :net_worth_maximum %>
		<%= f.text_field :net_worth_maximum %>
	</div>