<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<%= render 'form-personal', :f => f %>
	
  <%= f.fields_for :family_members do |builder| %>
		<%= render 'family_member_fields', :f => builder %>
  <% end %>
	<p><%= link_to_add_fields "Add New Family Member", f, :family_members %></p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>