<%= form_for(@person, :html => { :class => 'form-stacked' }) do |f| %>
<%= error_messages_for(@person) %>

<ul class="tabs">
  <li><a class="active" href="#basic-info">Basic Info</a></li>
  <li><a href="#contact-info">Contact</a></li>
  <li><a href="#personal">Personal</a></li>
  <li><a href="#relationships">Relationships</a></li>
  <li><a href="#financial">Financial</a></li>
  <li><a href="#education">Education</a></li>
  <li><a href="#political">Political</a></li>
  <li><a href="#controversy">Controversy</a></li>
  <li><a href="#establishment">Establishment</a></li>
</ul>

<ul class="tabs-content">
  <li class="active box_a" id="basic-info" style="min-height: 340px;">
    <%= render 'layouts/messages' %>
    <%= render 'form-personal', :f => f %>
  </li>

  <li class="box_a" id="contact-info" style="min-height: 340px;">
    <%= render 'form-contact', :f => f %>
  </li>

  <li class="box_a" id="personal">
    <%= render 'tab3', :f => f %> 
  </li> <!-- /#personal-tab -->

  <li class="box_a" id="relationships">
    <%= render 'familymembers', :f => f %>
  </li>
  <li class="box_a" id="financial">
    <%= render 'tab4', :f => f %>
  </li> <!-- /#financial-tab -->

  <li class="box_a" id="education">
    <%= render 'tab5', :f => f %>
  </li> <!-- /#education-tab -->

  <li class="box_a" id="political">
    <%= render 'tab6', :f => f %>
  </li> <!-- /#political-tab -->

  <li class="box_a" id="controversy">
    <%= render 'tab7', :f => f %>
  </li> <!-- /#controversy-tab -->

  <li class="box_a" id="establishment">
    <%= render 'tab8', :f => f %>
  </li> <!-- /#establishment-tab -->
</ul>

<p class="right">
  <%= f.submit 'Update Person', :class => 'btn primary' %>
</p>

<% end %>
