<%= form_for(@person, :html => { :class => 'form-stacked' }) do |f| %>
<%= error_messages_for(@person) %>

<div id="tabs-1">
	<%= render 'form-personal', :f => f %>
</div> <!-- /#personal-tab -->

<div id="tabs-2">
	<%= render 'form-contact', :f => f %>
</div>

<div id="tabs-3">	
  <%= f.fields_for(:family_members, @person.family_members) do |family_member| %>
		<%= render 'family_member_fields', :f => family_member %>
  <% end %>
	<span class="label success"><%= link_to_add_fields "Add New Family Member", f, :family_members %></span><br />
	
	<%= f.fields_for :business_associates do |business_associate| %>
		<%= render 'business_associate_fields', :f => business_associate %>
	<% end %>
	<span class="label success"><%= link_to_add_fields "Add New Business Associate", f, :business_associates %></span><br />
</div> <!-- /#relationships-tab -->

<div id="tabs-4">	
	<%= f.fields_for :personal_assets do |asset| %>
		<%= render 'personal_asset_fields', :f => asset %>
	<% end %>
	<span class="label success"><%= link_to_add_fields "Add New Asset", f, :personal_assets %></span><br />
	
	<%= f.fields_for :transactions do |transaction| %>
		<%= render 'transaction_fields', :f => transaction  %>
	<% end %>
	<span class="label success"><%= link_to_add_fields "Add New Transaction", f, :transactions %></span><br />
</div> <!-- /#financial-tab -->

<div id="tabs-5">
	<%= f.fields_for :degrees do |degree| %>
		<%= render 'degree_fields', :f => degree %>
	<% end %>
	<span class="label success"><%= link_to_add_fields "Add Degree", f, :degrees %></span><br />
</div>

<div id="tabs-6">
	<%= f.fields_for :endorsements do |endorsement| %>
		<%= render 'endorsement_fields', :f => endorsement %>
	<% end %>
	<span class="label success"><%= link_to_add_fields "Add Endorsement", f, :endorsements %></span><br />
	
	<%= f.fields_for :issue_positions do |issue_position| %>
		<%= render 'issue_position_fields', :f => issue_position %>
	<% end %>
	<span class="label success"><%= link_to_add_fields "Add Issue Position", f, :issue_positions %></span><br />
	
	<%= f.fields_for :flip_flops do |flip_flop| %>
		<%= render 'flip_flop_fields', :f => flip_flop %>
	<% end %>
	<span class="label success"><%= link_to_add_fields "Add Flip Flop", f, :flip_flops %></span><br />
	
	<%= f.fields_for :campaign_platforms do |campaign_platform| %>
		<%= render 'campaign_platform_fields', :f => campaign_platform %>
	<% end %>
	<span class="label success"><%= link_to_add_fields "Add Campaign Platform", f, :campaign_platforms %></span><br />
</div>

<div id="tabs-7">
	<%= f.fields_for :accusations do |accusation| %>
		<%= render 'accusation_fields', :f => accusation %>
	<% end %>
	<span class="label success"><%= link_to_add_fields "Add Accusation", f, :accusations %></span><br />
	
	<%= f.fields_for :litigations do |litigation| %>
		<%= render 'litigation_fields', :f => litigation %>
	<% end %>
	<span class="label success"><%= link_to_add_fields "Add Litigation", f, :litigations %></span><br />
</div>

<div id="tabs-8">
	<%= f.fields_for :political_offices do |political_office| %>
		<%= render 'political_office_fields', :f => political_office %>
	<% end %>
	<span class="label success"><%= link_to_add_fields "Add Political Office", f, :political_offices %></span><br />
	
	<%= f.fields_for :earmarks do |earmark| %>
		<%= render 'earmark_fields', :f => earmark %>
	<% end %>
	<span class="label success"><%= link_to_add_fields "Add Earmark", f, :earmarks %></span><br />
	
	<%= f.fields_for :supporters do |supporter| %>
		<%= render 'supporter_fields', :f => supporter %>
	<% end %>
	<span class="label success"><%= link_to_add_fields "Add Support Demographic", f, :supporters %></span><br />
	
	<%= f.fields_for :contributors do |contributor| %>
		<%= render 'contributor_fields', :f => contributor %>
	<% end %>
	<span class="label success"><%= link_to_add_fields "Add Contributor", f, :contributors %></span><br />
	
	<%= f.fields_for :contributors_interest_groups do |contributor_ig| %>
		<%= render 'contributors_interest_group_fields', :f => contributor_ig %>
	<% end %>
	<span class="label success"><%= link_to_add_fields "Add Contributor (Interest Group)", f, :contributors_interest_groups %></span><br />
	
	<%= f.fields_for :contributors_interest_group_sectors do |contributor_igs| %>
		<%= render 'contributors_interest_group_sector_fields', :f => contributor_igs %>
	<% end %>
	<span class="label success"><%= link_to_add_fields "Add Contributor (Interest Group Sector)", f, :contributors_interest_group_sectors %></span><br />
	
	<%= f.fields_for :contributors_pacs do |contributor_pac| %>
		<%= render 'contributors_pac_fields', :f => contributor_pac %>
	<% end %>
	<span class="label success"><%= link_to_add_fields "Add Contributor (PAC)", f, :contributors_pacs %></span><br />
</div>

<div id="tabs-9">
	<%= f.fields_for :articles do |article| %>
		<%= render 'article_fields', :f => article %>
	<% end %>
	<span class="label success"><%= link_to_add_fields "Add Article", f, :articles %></span><br /><br />
	
	<%= f.fields_for :videos do |video| %>
		<%= render 'video_fields', :f => video %>
	<% end %>
	<span class="label success"><%= link_to_add_fields "Add Video", f, :videos %></span><br /><br />
</div>

<p><%= f.submit 'Update Person', :class => 'btn primary' %></p>

<% end %>