<h3>Basic Info</h3>
<div class="seven columns">
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>

  <%= f.label :middle_name %>
  <%= f.text_field :middle_name %>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %>

  <%= f.label :suffix %>
  <%= f.text_field :suffix %>

  <%= f.label :is_congress_member, "This person has been a member of congress" %>
  <%= f.check_box :is_congress_member %>
</div>

<div class="seven columns">
  <%= f.label :photo_url %>
  <%= f.text_field :photo_url %>

  <%= f.label :religion, 'Religion' %>
  <%= f.text_field :religion, :class => 'organization-list', data: {religions_source: religions_autocomplete_religion_name_path} %>

  <%= f.label :birthplace %>
  <%= f.text_field :birthplace %>

  <%= f.label :date_of_birth %>
  <%= f.date_select :date_of_birth, {:order => [:month, :day, :year], :start_year => 1901}, {:class => 'two columns'} %><br /><br />

  <%= f.label :date_of_death %>
  <%= f.date_select :date_of_death, {:order => [:month, :day, :year], :start_year => 1851, :include_blank => true, :default => nil}, {:class => 'two columns'} %>
</div>
