<div class="sixteen columns">
  <h2 class="edit-title">Basic Info</h2>
</div>

<div class="seven columns">
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>

  <%= f.label :middle_name %>
  <%= f.text_field :middle_name %>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %>

  <%= f.label :suffix %>
  <%= f.text_field :suffix %>

  <%= f.label :is_congress_member, "This person has been a member of congress" %>
  <%= f.check_box :is_congress_member %>
</div>

<div class="seven columns">
  <%= f.label :photo_url %>
  <%= f.text_field :photo_url %>

  <div class="row" style="margin: 0;">
    <div class="one column" style="margin: 0;">
      <%= f.label :religion, 'Religion' %>
    </div>
    <div class="two columns" style="padding-left: 5px;">
      <%= link_to "Add new", new_religion_path %>
    </div>
  </div>
  <%= collection_select(:person, :religion_id, Religion.all, :id, :name, {:include_blank => true}) %><br /><br />

  <%= f.label :birthplace %>
  <%= f.text_field :birthplace %>

  <%= f.label :date_of_birth %>
  <%= f.date_select :date_of_birth, {:order => [:month, :day, :year], :start_year => 1901}, {:class => 'two columns'} %><br /><br />

  <%= f.label :date_of_death %>
  <%= f.date_select :date_of_death, {:order => [:month, :day, :year], :start_year => 1851, :include_blank => true, :default => nil}, {:class => 'two columns'} %>
</div>
