<%= form_for(@person, :html => { :class => 'form-stacked' }) do |f| %>
<%= error_messages_for(@person) %>

<div id="tabs-1">
	<%= render 'form-personal', :f => f %>
</div> <!-- /#personal-tab -->

<div id="tabs-2">
		<%= render 'form-contact', :f => f %>
</div>

<div id="tabs-3">	
	<%= render 'tab3', :f => f %> 
</div> <!-- /#personal-tab -->

<div id="tabs-4">
	<%= render 'tab4', :f => f %>
</div> <!-- /#transactions-tab -->

<div id="tabs-5">
	<%= render 'tab5', :f => f %>
</div> <!-- /#education-tab -->

<div id="tabs-6">
	<%= render 'tab6', :f => f %>
</div> <!-- /#political-tab -->

<div id="tabs-7">
	<%= render 'tab7', :f => f %>
</div> <!-- /#controversy-tab -->

<div id="tabs-8">
	<%= render 'tab8', :f => f %>
</div> <!-- /#establishment-tab -->

<div id="tabs-9">
	<%= render 'tab9', :f => f %>
</div>

<p class="right">
	<%= f.submit 'Update Person', :class => 'btn primary' %>
</p>

<% end %>