<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :current_title %><br />
    <%= f.text_field :current_title %>
  </div>
  <div class="field">
    <%= f.label :issues %><br />
    <%= f.text_area :issues %>
  </div>
  <div class="field">
    <%= f.label :memberships %><br />
    <%= f.text_area :memberships %>
  </div>
  <div class="field">
    <%= f.label :committee_assignments %><br />
    <%= f.text_area :committee_assignments %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
