<% 
require 'json'
require 'net/http'

p = Person.find(params[:pid])
cid = p.crp_id 

# get json
apikey = "3c994a55a6b79f30f22b6b3942941f62"
endpoint = "http://www.opensecrets.org/api/?method=memPFDprofile"
url = endpoint + "&year=2009&cid=" + cid + "&output=json&apikey=" + apikey 
resp = Net::HTTP.get_response(URI.parse(url))
data = resp.body
json = JSON.parse(data)
%>
<% if json.empty? %>
  <% investments = p.personal_assets %>
  <h1>Investments</h1>
  <% if investments.count > 0 %>
  <table class="table-striped">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% investments.each do |p| %>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
    <p>Research is in progress.</p>
  <% end %>
<% else %>
  <% investments = json['response']['member_profile']['assets']['asset'] %>
  <h1>Investments</h1>
  <table class="table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Industry</th>
        <th>Sector</th>
        <th>Value (low)</th>
        <th>Value (high)</th>
      </tr>
    </thead>
    <tbody>
      <% investments.each do |investment| %>
        <% i = investment['@attributes'] %>
        <tr>
          <td><%= i['name'] %></td>
          <td><%= i['industry'] %></td>
          <td><%= i['sector'] %></td>
          <td><%= i['holdings_low'] %></td>
          <td><%= i['holdings_high'] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
