<tr class="fields actions">
	<%= f.hidden_field :person_id, :value => @person.id %>

    <td><%= f.text_field :issue_topic %></td>
    <td><%= f.text_field :question %></td>
    <td><%= f.text_field :position %></td>
		<td><%= link_to_remove_fields "remove", f %></td>
</tr>