<tr class="fields actions">
	<%= f.hidden_field :person_id, :value => @person.id %>
	
	 <td><%= f.text_field :organization_name, :class => 'organization-list', data: {organizations_source: organizations_autocomplete_organization_name_path} %></td>
   <td><%= f.text_field :value, :class => 'span2' %></td>
   <td><%= f.text_field :value_min, :class => 'span2' %></td>
   <td><%= f.text_field :value_max, :class => 'span2' %></td>
	<td>
		<span class="label important">
			<%= link_to_remove_fields "remove", f %>
		</span>
	</td>
</tr>