<div class="hero-unit span13">
  <h3>Financial</h3>
  <p>
    <b>Net Worth</b><br />
    Minimum:
    <%= number_to_currency(@person.net_worth_minimum, :precision => 0) %><br />
    Average:
    <%= number_to_currency(@person.net_worth_average, :precision => 0) %><br />
    Maximum:
    <%= number_to_currency(@person.net_worth_maximum, :precision => 0) %><br />
  </p>

  <h3>Transactions</h3>
  <p>
    <b>Assets:</b>
    <table class="zebra-striped bordered-table span8">
      <tr>
        <th>Organization</th>
        <th>Value (exact)</th>
        <th>Value (min)</th>
        <th>Value (max)</th>
      </tr>
      <%= @person.personal_assets.collect { |asset|
      "<tr>
        <td>#{asset.find_organization_name}</td>
        <td>#{number_to_currency(asset.value, :precision => 0)}</td>
        <td>#{number_to_currency(asset.value_min, :precision => 0)}</td>
        <td>#{number_to_currency(asset.value_max, :precision => 0)}</td>
      </tr>" 
      }.to_sentence(no_separator).html_safe %>
    </table>
  </p>
  <p>
    <b>Transactions:</b>
    <table class="zebra-striped bordered-table span8">
      <tr>
        <th></th>
        <th>Date</th>
        <th>Organization</th>
        <th>Value</th>
      </tr>
      <%= @person.transactions.collect { |transaction| 
      "<tr>
        <td>#{transaction.action? ? 'Purchased' : 'Sold'}</td>
        <td>#{transaction.date.year}</td>
        <td>#{transaction.find_organization_name}</td>
        <td>#{number_to_currency(transaction.value, :precision => 0)}</td>
      </tr>"}.to_sentence(no_separator).html_safe %>
    </table>
  </p>
</div>
