<div class="hero-unit span13">
	<h3>Attachments</h3>
	<p>
		<b>Articles:</b>
		<%= @person.articles.collect { |article| 
					"<br />Date: #{article.date}<br />
					Title: #{article.title}<br />
					Excerpt: #{article.excerpt}<br />
					Link: <a href='#{article.article_url}'>#{article.article_url}</a><br />"}.to_sentence(no_separator).html_safe %>
	</p>
	<p>
		<b>Videos:</b>
		<%= @person.videos.collect { |video| 
					"<br />Date: #{video.date}<br />
					Title: #{video.title}<br />
					Description: #{video.description}<br />
					Thumb URL: #{video.thumbnail_url}<br />
					Video URL: <a href='#{video.video_url}'>#{video.video_url}</a><br />"}.to_sentence(no_separator).html_safe %>
		<% if @person.youtube_id.blank? %>	
		<% else %>		
			<h3>Videos from <%= @person.first_name %> <%= @person.last_name %>'s youtube:</h3>
			<% @personal_videos = $youtube.videos_by(:user => "#{@person.youtube_id}", :page => 1, :per_page => 18) %>
			<% @personal_videos.videos.each do |v| %>
				<%= link_to image_tag(v.thumbnails.fourth.url), "#{v.player_url}" %>
			<% end %>
		<% end %>
		
		<h3>Other Videos:</h3>
		<% @other_videos = $youtube.videos_by(:query => "#{@person.first_name} #{@person.last_name}", :page => 1, :per_page => 12) %>
		<% @other_videos.videos.each do |v| %>
			<%= link_to image_tag(v.thumbnails.first.url), "#{v.player_url}" %>
		<% end %>
	</p>
</div>