<div class="hero-unit span13">
	<h3>Establishment</h3>
		<p>
			<b>Legislative Offices Held:</b>
			<table class="zebra-striped bordered-table span9">
				<tr>
					<th>Congress Year</th>
					<th>Start Date</th>
					<th>End Date</th>
					<th>Chamber</th>
					<th>State</th>
					<th>District</th>
					<th>Party</th>
					<th>Seniority</th>
					<th>Bills Sponsored</th>
					<th>Bills Cosponsored</th>
					<th>Missed Votes (Percent)</th>
					<th>Votes With Party (Percent)</th>
				</tr>						
				<% @person.legislative_offices.reverse.collect do |po| %>
				<tr>
					<td><%= po.congress_year %></td>
					<td><%= po.start_date %></td>
					<td><%= po.end_date %></td>
					<td><%= po.chamber %></td>
					<td><%= po.state %></td>
					<td><%= po.district %></td>
					<td><%= po.party %></td>
					<td><%= po.seniority %></td>
					<td><%= po.bills_sponsored %></td>
					<td><%= po.bills_cosponsored %></td>
					<td><%= po.missed_votes_pct %></td>
					<td><%= po.votes_with_party_pct %></td>
				</tr>
				<% end %>
			</table>
		</p>
		<p>
			<table class="zebra-striped bordered-table span9">
				<tr>
					<th>Year</th>
					<th>Recipient</th>
					<th>Organization ID</th>
					<th>Description</th>
					<th>Bill</th>
					<th>Amount</th>
				</tr>
			<b>Earmarks:</b>
			<% @earmarks_sorted = @person.earmarks.sort { |x, y| x.fiscal_year <=> y.fiscal_year }.reverse %>
			<% @earmarks_sorted.collect do |earmark| %>
				<tr>
				   <td><%= earmark.fiscal_year %></td>
					 <td><%= earmark.recipient %></td>
					 <td><%= earmark.organization_id %></td>
					 <td><%= earmark.description %></td>
					 <td><%= earmark.bill %></td>
					 <td><%= number_to_currency(earmark.final_amount, :precision => 0) %></td>
				</tr>
			<% end %>
			</table>
		</p>
		<p>
			<b>Supporters:</b>
			<% unless @person.supporters.empty? %>
				<%= render :partial => 'layouts/supporters_pie' %>
					<div id="holder"></div>	
			<% else %>
				Information is not currently available, research is in progress.
			<% end %>
		</p>
		<p>
			<b>Top Contributors (By Sector)</b>
			<table class="zebra-striped bordered-table span9">
				<tr>
					<th>Name</th>				
					<th>Total Amount</th>
					<th>Percent</th>
				</tr>
				<% contributions_by_sector_math %>
				<% @sectors.collect do |s| %>
					<tr>
						<td><%= s.name %></td>
						<td><%= number_to_currency(s.amount) %></td>
						<td><%= sprintf("%0.02f", ((s.amount.to_f / @i.to_f)) * 100) %></td>
					</tr>
				<% end %>
					<tr>
						<td><b>Total:</b></b></td>
						<td><b><%= number_to_currency(@i) %></b></td>
						<td></td>
			</table>
		</p>
		<p>
			<b>Top Contributors (Individual):</b>
			<table class="zebra-striped bordered-table span9">
				<tr>
					<th>Contributor</th>
					<th>Contributor State</th>					
					<th>Contribution Date</th>
					<th>Amount</th>
				</tr>
			<% @individual_contributors.take(10).collect do |c| %>
				<tr>
					<td><%= link_to "#{c.contributor_name.titleize}", :controller => 'contributor', :action => 'show', :contributor_name => c.contributor_name, :entity_type => "I" %></td>
					<td><%= c.contributor_state %>
					<td><%= c.date %></td>
					<td><%= number_to_currency(c.amount) %></td>
				</tr>
			<% end %>
			</table>
			<%= link_to "More", :action => 'indiv_contributors', :id => @person.id %>
		</p>
		<p>
			<table class="zebra-striped bordered-table span9">
				<tr>
					<th>Contributor</th>					
					<th>Contribution Date</th>
					<th>Amount</th>
				</tr>
			<b>Top Contributors (PAC):</b>
			<% @pac_contributors.take(10).collect do |c| %>
				<tr>		
					<td><%= link_to "#{c.contributor_name}", :controller => 'contributor', :action => 'show', :contributor_name => c.contributor_name %></td>
					<td><%= c.date %></td>
					<td><%= number_to_currency(c.amount) %></td>
				</tr>
			<% end %>
			</table>
			<%= link_to "More", :action => 'pac_contributors', :id => @person.id %>
		</p>
		<p>
			<table class="zebra-striped bordered-table span9">
				<tr>
					<th>Year</th>
					<th>Interest Group</th>
					<th>Amount</th>
				</tr>
			<b>Contributors (Interest Groups):</b>
			<% @person.contributors_interest_groups.collect do |contributor_ig| %>
				 <tr>
				 	<td><%= contributor_ig.year.year %></td>
					<td><%= contributor_ig.name %></td>
					<td><%= contributor_ig.amount %></td>
				</tr>
			<% end %>	
			</table>
		</p>
		<p>
			<table class="zebra-striped bordered-table span9">
				<tr>
					<th>Year</th>
					<th>Sector</th>
					<th>Amount</th>
				</tr>
			<b>Contributors (Interest Group Sectors):</b>
			<% @person.contributors_interest_group_sectors.collect do |contributor_igs| %>
				<tr>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			<% end %>
			</table>
		</p>
	</div>