<div class="hero-unit span13">
	<%= notice %>	
		<h1><%= @person.name %></h1>
			<img src="<%= @person.photo_url %>"></img>
		<h3>Basic Info</h3>
			<p>
			  <b>Date of birth:</b>
			  <%= @person.date_of_birth %>
			</p>
			<p>
			  <b>Date of death:</b>
				<% unless @person.date_of_death.nil? %>
			  	<%= @person.date_of_death %>
				<% end %>
			</p>
			<p>
			  <b>Bio:</b>
			  <%= @person.bio %>
			</p>
			<p>
				<b>Religion:</b>
					<a href="/religions/<%= @person.religion_id %>"><%= @person.religion.name %></a>
			</p>
			<p>
				<b>Education:</b><br />
			  <%= @person.degrees.collect { |degree| 
						"#{degree.degree_earned}, <a href='/universities/#{degree.university_id}'>#{degree.find_university_name} - #{degree.year_earned.year}</a><br />" 
						}.to_sentence(@person.no_separator).html_safe %>
			</p>
			<p>
				<b>Professional Experience:</b>
				<%= @person.professional_experience %>
			</p>
			<p>
				<b>Literary Work:</b>
				<%= @person.literary_work %>
			</p>
</div>