<h3 class="bump-left">Political Offices</h3>
	<table class="zebra-striped">
		<tr>
			<th>Position</th>
			<th>District</th>
			<th>Office</th>
			<th>Year Started</th>
			<th>Year Ended</th>
			<th></th>
		</tr>
		<%= f.fields_for :political_offices do |political_office| %>
			<%= render 'political_office_fields', :f => political_office %>
		<% end %>
		<tr>
			<td>
				<span class="label success"><%= link_to_add_fields "Add Political Office", f, :political_offices %></span>
			</td>
		</tr>
	</table>
	
<h3 class="bump-left">Earmarks</h3>
	<table class="zebra-striped">
		<tr>
			<th>Organization</th>
			<th>Fiscal Year</th>
			<th>Description</th>
			<th>Sector</th>
			<th>Amount</th>
			<th></th>
		</tr>
		<%= f.fields_for :earmarks do |earmark| %>
			<%= render 'earmark_fields', :f => earmark %>
		<% end %>
		<tr>
			<td>
				<span class="label success"><%= link_to_add_fields "Add Earmark", f, :earmarks %></span>
			</td>
		</tr>
	</table>
	
<h3 class="bump-left">Supporters</h3>
	<table class="zebra-striped">
		<tr>
			<th>Group Name</th>
			<th>Support Percentage</th>
			<th></th>
		</tr>
		<%= f.fields_for :supporters do |supporter| %>
			<%= render 'supporter_fields', :f => supporter %>
		<% end %>
		<tr>
			<td>
				<span class="label success"><%= link_to_add_fields "Add Support Demographic", f, :supporters %></span>
			</td>
		</tr>
	</table>
	
<h3 class="bump-left">Contributors</h3>
	<table class="zebra-striped">
		<tr>
			<th>Organization</th>
			<th>Amount</th>
			<th></th>
		</tr>
		<%= f.fields_for :contributors do |contributor| %>
			<%= render 'contributor_fields', :f => contributor %>
		<% end %>
		<tr>
			<td>
				<span class="label success"><%= link_to_add_fields "Add Contributor", f, :contributors %></span>
			</td>
		</tr>
	</table>	
	
<h3 class="bump-left">Contributors (Interest Groups)</h3>
	<table class="zebra-striped">
		<tr>
			<th>Interest Group</th>
			<th>Year</th>
			<th>Amount</th>
			<th></th>
		</tr>
		<%= f.fields_for :contributors_interest_groups do |contributor_ig| %>
			<%= render 'contributors_interest_group_fields', :f => contributor_ig %>
		<% end %>
		<tr>
			<td>
				<span class="label success"><%= link_to_add_fields "Add Contributor (Interest Group)", f, :contributors_interest_groups %></span>
			</td>
		</tr>
	</table>
	
<h3 class="bump-left">Contributors (Interest Group Sectors)</h3>
	<table class="zebra-striped">
		<tr>
			<th>Sector</th>
			<th>Year</th>
			<th>Amount</th>
			<th></th>
		</tr>
		<%= f.fields_for :contributors_interest_group_sectors do |contributor_igs| %>
			<%= render 'contributors_interest_group_sector_fields', :f => contributor_igs %>
		<% end %>
		<tr>
			<td>
				<span class="label success"><%= link_to_add_fields "Add Contributor (Interest Group Sector)", f, :contributors_interest_group_sectors %></span>
			</td>
		</tr>
	</table>
	
<h3 class="bump-left">Contributors (PAC)</h3>
	<table class="zebra-striped">
		<tr>
			<th>PAC</th>
			<th>Year</th>
			<th>Amount</th>
			<th></th>
		</tr>
		<%= f.fields_for :contributors_pacs do |contributor_pac| %>
			<%= render 'contributors_pac_fields', :f => contributor_pac %>
		<% end %>
		<tr>
			<td>
				<span class="label success"><%= link_to_add_fields "Add Contributor (PAC)", f, :contributors_pacs %></span>
			</td>
		</tr>
	</table>