<div class="sixteen columns">
  <h2 class="edit-title">Financial</h2>
</div>

<div class="four columns">
  <%= f.label :net_worth_minimum %>
  <%= f.text_field :net_worth_minimum %>
</div>
<div class="four columns">
  <%= f.label :net_worth_average %>
  <%= f.text_field :net_worth_average %>
</div>
<div class="six columns">
  <%= f.label :net_worth_maximum %>
  <%= f.text_field :net_worth_maximum %>
</div>

