<ul class="tabs">
  <li><a class="active" href="#bio">Bio</a></li>
  <li><a href="#professional-experience">Professional Experience</a></li>
  <li><a href="#literary-work">Literary Work</a></li>
</ul>

<ul class="tabs-content">
  <li class="active" id="bio">
    <%= f.label :bio %>
    <%= f.text_area :bio, :class => 'wysiwyg' %>
  </li>

  <li id="professional-experience">
    <%= f.label :professional_experience %>
    <%= f.text_area :professional_experience, :rows => 3, :class => 'wysiwyg' %>
  </li>


  <li id="literary-work">
    <%= f.label :literary_work %>
    <%= f.text_area :literary_work, :rows => 3, :class => 'wysiwyg' %>
  </li>
</ul>

