<h2 class="edit-title">Endorsements</h2>

<table class="zebra-striped">
  <tr>
    <th>Organization</th>
    <th>Year</th>
    <th></th>
  </tr>
  <%= f.fields_for :endorsements do |endorsement| %>
  <%= render 'endorsement_fields', :f => endorsement %>
  <% end %>
  <% if @person.endorsements.count == 0 %>
  <tr>
    <td>
      No endorsements have been added.
    </td>
    <td></td>
    <td></td>
  </tr>
  <% end %>
  <tr>
    <td>
      <%= link_to_add_fields "Add Endorsement", f, :endorsements %>
    </td>
    <td></td>
    <td></td>
  </tr>
</table>


<h2 class="edit-title">Issue Positions</h2>
<table class="zebra-striped">
  <tr>
    <th>Issue Topic</th>
    <th>Question</th>
    <th>Position</th>
    <th></th>
  </tr>
  <%= f.fields_for :issue_positions do |issue_position| %>
  <%= render 'issue_position_fields', :f => issue_position %>
  <% end %>
  <% if @person.issue_positions.count == 0 %>
  <tr>
    <td>
      No issue positions have been added.
    </td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <% end %>
  <tr>
    <td>
      <%= link_to_add_fields "Add Issue Position", f, :issue_positions %>
    </td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>


<h2 class="edit-title">Flip-Flops</h2>
<table class="zebra-striped">
  <tr>
    <th>Year</th>
    <th>Issue</th>
    <th>Flip-flop</th>
    <th></th>
  </tr>
  <%= f.fields_for :flip_flops do |flip_flop| %>
  <%= render 'flip_flop_fields', :f => flip_flop %>
  <% end %>
  <% if @person.flip_flops.count == 0 %>
  <tr>
    <td>
      No flip-flops have been added. 
    </td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <% end %>
  <tr>
    <td>
      <%= link_to_add_fields "Add Flip Flop", f, :flip_flops %>
    </td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>

<h2 class="edit-title">Campaign Platforms</h2>
<table class="zebra-striped">
  <tr>
    <th>Year</th>
    <th>Topic</th>
    <th>Position</th>
    <th></th>
  </tr>
  <%= f.fields_for :campaign_platforms do |campaign_platform| %>
  <%= render 'campaign_platform_fields', :f => campaign_platform %>
  <% end %>
  <% if @person.campaign_platforms.count == 0 %>
  <tr>
    <td>
      No campaign platforms have been added.
    </td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <% end %>
  <tr>
    <td>
      <%= link_to_add_fields "Add Campaign Platform", f, :campaign_platforms %>
    </td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
