<div class="sixteen columns">
  <h2>Financial</h2>
</div>

<div class="four columns">
  <%= f.label :net_worth_minimum %>
  <%= f.text_field :net_worth_minimum %>
</div>
<div class="four columns">
  <%= f.label :net_worth_average %>
  <%= f.text_field :net_worth_average %>
</div>
<div class="six columns">
  <%= f.label :net_worth_maximum %>
  <%= f.text_field :net_worth_maximum %>
</div>

<h2>Assets</h2>
<table class="zebra-striped">
  <tr>
    <th>Organization</th>
    <th>Exact Value</th>
    <th>Value (Min)</th>
    <th>Value (max)</th>
    <th></th>
  </tr>
  <%= f.fields_for :personal_assets do |asset| %>
  <%= render 'personal_asset_fields', :f => asset %>
  <% end %>
  <% if @person.personal_assets.count == 0 %>
  <tr>
    <td>
      No personal assets have been added.
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <% end %>
  <tr>
    <td>
      <%= link_to_add_fields "Add New Asset", f, :personal_assets %>
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>		
</table>

<h2>Transactions</h2>
<table class="zebra-striped">
  <tr>
    <th>Organization</th>
    <th>Year</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <%= f.fields_for :transactions do |transaction| %>
  <%= render 'transaction_fields', :f => transaction  %>
  <% end %>
  <% if @person.transactions.count == 0 %>
  <tr>
    <td>
      No transactions have been added.
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <% end %>
  <tr>
    <td>
      <%= link_to_add_fields "Add New Transaction", f, :transactions %>
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
