<tr class="fields actions">
	<%= f.hidden_field :person_id, :value => @person.id %>

		<td><%= f.text_field :title %></td>
    <td><%= f.text_area :description, :rows => 3 %></td>
    <td><%= f.text_field :video_url %></td>
    <td><%= f.text_field :thumbnail_url %></td>
		<td><%= link_to_remove_fields "remove", f %></td>
</tr>