<div class="fields">
	<%= f.hidden_field :person_id, :value => @person.id %>
	<p>
		<%= f.label :title %><br />
		<%= f.text_field :title %>
	</p>
	<p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows => 3 %>
  </p>
  <p>
    <%= f.label :video_url %><br />
    <%= f.text_field :video_url %>
  </p>
  <p>
    <%= f.label :thumbnail_url %><br />
    <%= f.text_field :thumbnail_url %>
  </p>
	<%= link_to_remove_fields "remove video", f %>
</div>
