<div id="notice">
	<%= flash[:error] %>
</div>

<h3>All People</h3>

<% @people.each do |person| %>
		<a href="<%= person_path(person) %>"><%= person.first_name + " " + person.last_name %></a>
	<% if can? :edit, Person %>
		<a href ="<%= edit_person_path(person) %>">edit</a><br />
	<% end %>
<% end %>



<% if can? :edit, Person %>
	<div id="admin-functions">
		<h3>Admin Functions</h3>
			<%= link_to 'Create New Person', new_person_path, :class => 'link' %>
			<%= link_to('Add Organization', {:controller => 'organizations', :action => 'new'}, :class => 'link') %>
			<%= link_to('Add University', {:controller => 'universities', :action => 'new'}, :class => 'link') %>
			<%= link_to('Add Religion', {:controller => 'religions', :action => 'new'}, :class => 'link') %>
<% end %>
</div><div class="clear"></div>


<% if can? :manage, :all  %>
<div id="superadmin-functions" >
	<h3>Superadmin Functions</h3>
			<%= link_to "Add New User", signup_path, :class => 'link' %>
			<%= link_to "Manage Users", users_path, :class => 'link' %>
	<% end %>
</div>

