<div class="container">
	<div class="page-header">
		<div id="notice">
			<%= flash[:error] %>
		</div>

		<h3>All People</h3>
			<table class="zebra-striped span6">
				<tr>
					<th>Person</th>
					<th>Actions<th>
				</tr>
				<% @people.each do |person| %>
				<tr>
					<td><a href="<%= person_path(person) %>"><%= person.first_name + " " + person.last_name %></a></td>
					<% if can? :edit, Person %>
					<td><span class="label warning"><a href ="<%= edit_person_path(person) %>">edit</a></span><td><br />
				<% end %>
				</tr>
			<% end %>
			</table>
	</div>


	<% if can? :edit, Person %>
		<div id="admin-functions">
			<h3>Admin Functions</h3>
				<%= link_to 'Create New Person', new_person_path, :class => 'btn small primary' %>
				<%= link_to('Add Organization', {:controller => 'organizations', :action => 'new'}, :class => 'btn small primary') %>
				<%= link_to('Add University', {:controller => 'universities', :action => 'new'}, :class => 'btn small primary') %>
				<%= link_to('Add Religion', {:controller => 'religions', :action => 'new'}, :class => 'btn small primary') %>
	<% end %>
	</div><div class="clear"></div>

	<% if can? :manage, :all  %>
	<div id="superadmin-functions" >
		<h3>Superadmin Functions</h3>
			<%= link_to "Add New User", signup_path, :class => 'btn small primary' %>
			<%= link_to "Manage Users", users_path, :class => 'btn small primary' %>
		<% end %>
	</div>
</div>