<div class="container-fluid">
	<h1>Editing: <%= @person.first_name %> <%= @person.last_name %></h1>

	<div id ="tabs">
		<div id="admin-navigation-side" class="well span3">
			<%= render 'admin-navigation-side' %>
		</div>
		<div id="form-details" class="span13">
			<%= render 'form-edit' %>
		</div>

		<%= link_to 'Show', @person %> |
		<%= link_to 'Back', people_path %>

	</div> <!-- /#tabs -->
</div>