<div class="subject list">

<h1>Modify People</h1>

<table class="listing">
  <tr class="header">
		<!-- <th>Person_ID</th> -->
    <th>First name</th>
    <th>Middle name</th>
    <th>Last name</th>
    <th>Suffix</th>
    <th>Date of birth</th>
    <th>Date of death</th>
    <th>Title</th>
    <th>Bio</th>
    <th>Professional Experience</th>
    <th>Literary Work</th>
		<th>Universities Attended</th>
		<th>Degrees Earned</th>
		<th>Family Members</th>
		<th>Religion ID</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @people.each do |person| %>
  <tr class="<%= cycle('odd', 'even') %>">
		<!-- <td><%= person.id %></td> -->
    <td><%= person.first_name %></td>
    <td><%= person.middle_name %></td>
    <td><%= person.last_name %></td>
    <td><%= person.suffix %></td>
    <td><%= person.date_of_birth %></td>
    <td><%= person.date_of_death %></td>
    <td><%= person.title %></td>
    <td><%= person.bio %></td>
		<td><%= person.professional_experience %></td>
		<td><%= person.literary_work %></td>
		<td><%= person.universities.collect {|x| [x.name]} %></td>
		<td><%= person.degrees.size %> <%= link_to('Show', {:controller => 'degrees', :action => 'index', :person_id => person.id}) %>
		<%= link_to('Add', {:controller => 'degrees', :action => 'new', :person_id => person.id}) %>
		</td>
		<td><%= person.family_members.size %>
				<%= link_to('Add', {:controller => 'family_members', :action => 'new', :person_id => person.id}) %></td>
		<td><%= person.religion_id %></td>
    <td><%= link_to 'Show', person, :class => 'button show' %></td>
    <td><%= link_to 'Edit', edit_person_path(person), :class => 'button edit' %></td>
    <td><%= link_to 'Destroy', person, confirm: 'Are you sure?', method: :delete, :class => 'button delete' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Create New Person', new_person_path, :class => 'link' %>

<%= link_to('Add University', {:controller => 'universities', :action => 'new'}, :class => 'link') %>
<%= link_to('Add Religion', {:controller => 'religions', :action => 'new'}, :class => 'link') %>

</div>