<h1>Listing people</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Current title</th>
    <th>Issues</th>
    <th>Memberships</th>
    <th>Committee assignments</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= person.name %></td>
    <td><%= person.current_title %></td>
    <td><%= person.issues %></td>
    <td><%= person.memberships %></td>
    <td><%= person.committee_assignments %></td>
    <td><%= link_to 'Show', person %></td>
    <td><%= link_to 'Edit', edit_person_path(person) %></td>
    <td><%= link_to 'Destroy', person, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Person', new_person_path %>
