<h1>Modify People</h1>

<table>
  <tr>
		<!-- <th>Person_ID</th> -->
    <th>First name</th>
    <th>Middle name</th>
    <th>Last name</th>
    <th>Suffix</th>
    <th>Date of birth</th>
    <th>Date of death</th>
    <th>Title</th>
    <th>Bio</th>
    <th>Professional Experience</th>
    <th>Literary Work</th>		
		<th>Universities Attended</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @people.each do |person| %>
  <tr>
		<!-- <td><%= person.id %></td> -->
    <td><%= person.first_name %></td>
    <td><%= person.middle_name %></td>
    <td><%= person.last_name %></td>
    <td><%= person.suffix %></td>
    <td><%= person.date_of_birth %></td>
    <td><%= person.date_of_death %></td>
    <td><%= person.title %></td>
    <td><%= person.bio %></td>
		<td><%= person.professional_experience %></td>
		<td><%= person.literary_work %></td>
		<td><%= person.universities.size %> <%= link_to('Show/Add', {:controller => 'universities', :action => 'index', :person_id => person.id}) %></td>
    <td><%= link_to 'Show', person, :class => 'button show' %></td>
    <td><%= link_to 'Edit', edit_person_path(person), :class => 'button edit' %></td>
    <td><%= link_to 'Destroy', person, confirm: 'Are you sure?', method: :delete, :class => 'button delete' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Create New Person', new_person_path, :class => 'link' %>

<%= link_to('Add University', {:controller => 'universities', :action => 'new2'}, :class => 'link') %>