<div class="subject list">

<h1>Modify People</h1>

<table class="listing">
  <tr class="header">
		<!-- <th>Person_ID</th> -->
    <th>Name</th>
		<th>Universities Attended</th>
		<th>Endorsements</th>
		<th>Transactions</th>
		<th>Assets</th>
		<th>Campaign Platforms</th>
		<th>Offices Held</th>
		<th>Sponsored Legislation</th>
		<th>Flip-flops</th>
		<th>Accusations</th>
		<th>Litigations</th>
		<th>Degrees Earned</th>
		<th>Contributors</th>
		<th>Contributors (PAC)</th>
		<th>Contributors (IG)</th>
		<th>Contributors (IG Sectors)
		<th>Earmarks</th>
		<th>Business Associates</th>
		<th>Family Members</th>
		<th>Articles</th>
		<th>Videos</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @people.each do |person| %>
  <tr class="<%= cycle('odd', 'even') %>">
		<!-- <td><%= person.id %></td> -->
    <td><a href="<%= person_path(person) %>"><%= person.full_name %></a></td>
		<td>
			<%= person.universities.collect { |u| 
							"<a href='#{university_path(u)}'>#{u.name}</a>" }.to_sentence(options = 
									{ :two_words_connector => "<br />", 
										:last_word_connector => "<br />", 
										:words_connector => "<br />"}).html_safe %>
		</td>
		<td>
			<%= person.endorsements.size %>
			<%= link_to('Add', {:controller => 'endorsements', :action => 'new', :person_id => person.id}) %>
		</td>
		<td>
			<%= person.transactions.size %>
			<%= link_to('Add', {:controller => 'transactions', :action => 'new', :person_id => person.id}) %>
		</td>
		<td>
			<%= person.personal_assets.size %>
			<%= link_to('Add', {:controller => 'personal_assets', :action => 'new', :person_id => person.id}) %>
		</td>
		<td>
			<%= person.campaign_platforms.size %>
			<%= link_to('Add', {:controller => 'campaign_platforms', :action => 'new', :person_id => person.id}) %>
		</td>
		<td>
			<%= person.political_offices.size %>
			<%= link_to('Add', {:controller => 'political_offices', :action => 'new', :person_id => person.id}) %>
		</td>
		<td>
			<%= person.sponsored_legislations.size %>
			<%= link_to('Add', {:controller => 'sponsored_legislations', :action => 'new', :person_id => person.id}) %>
		</td>
		<td>
			<%= person.flip_flops.size %>
			<%= link_to('Add', {:controller => 'flip_flops', :action => 'new', :person_id => person.id}) %>
		</td>
		<td>
			<%= person.accusations.size %>
			<%= link_to('Add', {:controller => 'accusations', :action => 'new', :person_id => person.id }) %>
		</td>
		<td>
			<%= person.litigations.size %>
			<%= link_to('Add', {:controller => 'litigations', :action => 'new', :person_id => person.id }) %>
		</td>
		<td>
			<%= person.degrees.size %> 
			<%= link_to('Add', {:controller => 'degrees', :action => 'new', :person_id => person.id}) %>
		</td>
		<td>
			<%= person.contributors.size %>
			<%= link_to('Add', {:controller => 'contributors', :action => 'new', :person_id => person.id}) %>
		</td>
		<td>
			<%= person.contributors_pacs.size %>
			<%= link_to('Add', {:controller => 'contributors_pacs', :action => 'new', :person_id => person.id}) %>
		</td>
		<td>
			<%= person.contributors_interest_groups.size %>
			<%= link_to('Add', {:controller => 'contributors_interest_groups', :action => 'new', :person_id => person.id}) %>
		</td>
		<td>
			<%= person.contributors_interest_group_sectors.size %>
			<%= link_to('Add', {:controller => 'contributors_interest_group_sectors', :action => 'new', :person_id => person.id}) %>
		</td>
		<td>
			<%= person.earmarks.size %>
			<%= link_to('Add', {:controller => 'earmarks', :action => 'new', :person_id => person.id}) %>
		</td>
		<td>
			<%= person.business_associates.size %>
			<%= link_to('Add', {:controller => 'business_associates', :action => 'new', :person_id => person.id}) %>
		</td>
		<td>
			<%= person.family_members.collect { |fm| fm.name }.to_sentence %><br />
			<%= link_to('Add', {:controller => 'family_members', :action => 'new', :person_id => person.id}) %>
		</td>
		<td>
			<%= person.articles.collect { |a| 
						"<a href='#{article_path(a)}'>#{a.title}</a>" }.to_sentence.html_safe %><br />
			<%= link_to('Add', {:controller => 'articles', :action => 'new', :person_id => person.id}) %>
			<!-- <%= link_to("View Articles", {:controller => 'articles', :action => 'list', :person_id => person.id}) %> -->
		</td>
		<td>
			<%= person.videos.size  %>
			<%= link_to('Add', {:controller => 'videos', :action => 'new', :person_id => person.id}) %>
		</td>
    <td><%= link_to 'Show', person, :class => 'button show' %></td>
    <td><%= link_to 'Edit', edit_person_path(person), :class => 'button edit' %></td>
    <td><%= link_to 'Destroy', person, confirm: 'Are you sure?', method: :delete, :class => 'button delete' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Create New Person', new_person_path, :class => 'link' %>
<%= link_to('Add Organization', {:controller => 'organizations', :action => 'new'}, :class => 'link') %>
<%= link_to('Add University', {:controller => 'universities', :action => 'new'}, :class => 'link') %>
<%= link_to('Add Religion', {:controller => 'religions', :action => 'new'}, :class => 'link') %>

</div>