<h1>Individual Contributors for <%= @person.first_name %> <%= @person.last_name %></h1>
<table class="table-striped">
  <thead>
    <tr>
      <th>Amount</th>
      <th>Contributor</th>
      <th>Contributor State</th>					
      <th>Contribution Date</th>
    </tr>
  </thead>
  <tbody>
    <% @individual_contributors.take(9).collect do |c| %>
    <tr>
      <td><%= c.amount %></td>
      <td><%= c.contributor_name %></td>
      <td><%= c.contributor_state %></td>
      <td><%= c.date %></td>
    </tr>
    <% end %>
  </tbody>
</table>
