<div class="container">
	<h1>Individual Contributors for <%= @person.first_name %> <%= @person.last_name %></h1>
	<table class="zebra-striped bordered-table span9">
		<tr>
			<th>Amount</th>
			<th>Contributor</th>
			<th>Contributor State</th>					
			<th>Contribution Date</th>
		</tr>
	<b>Top Contributors (Individual):</b>
	<% @individual_contributors.collect do |c| %>
		<tr>
			<td><%= c.amount %></td>
			<td><%= c.contributor_name %></td>
			<td><%= c.contributor_state %>
			<td><%= c.date %></td>
		</tr>
	<% end %>
	</table>
</div>