<div class="content-wrap">
  <h1>PAC Contributions for <%= @person.first_name %> <%= @person.last_name %></h1>	
  <table class="table-striped">
    <thead>
      <tr>
        <th>Amount</th>
        <th>Contributor</th>				
        <th>Contribution Date</th>
      </tr>
    </thead>
    <tbody>
      <% @pac_contributors.collect do |c| %>
      <tr>
        <td><%= c.amount %></td>
        <td><%= c.contributor_name %></td>
        <td><%= c.date %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
