<%= stylesheet_link_tag 'representatives' %>

<div class="page-header">
  <%= render 'layouts/messages' %>
</div>

<div class="content-wrap sixteen columns">
  <ul class="tabs">
    <li><a class="active" href="#house">House</a></li>
    <li><a href="#senate">Senate</a></li>
    <li><a href="#people">People</a></li>
  </ul>
  <ul class="tabs-content">
    <li class="active" id="house">
      <div class="selector-container">
        <div class="representatives-col1 three columns">
          <h1>House of Representatives</h1>
          <ul>
            <li><%= link_to "Browse by State", {:action => 'switch_to_representative_by_state'}, :remote => true %></li>
            <li><%= link_to "Browse by Name", {:action => 'switch_to_representative_by_name'}, :remote => true %></li>
            <li><%= link_to "Browse by Party", {:action => 'switch_to_representative_by_party'}, :remote => true %></li>
          </ul>
        </div>
        <div class="navigation-container">
          <%= render :partial => 'browse_by_state', :locals => {:chamber => 'H'} %>
        </div>
      </div>
    </li>
    <li id="senate">
      <div class="selector-container">
        <div class="representatives-col1 three columns">
          <h1>Senate</h1>
          <ul>
            <li><%= link_to "Browse by State", {:action => 'switch_to_senator_by_state'}, :remote => true %></li>
            <li><%= link_to "Browse by Name", {:action => 'switch_to_senator_by_name'}, :remote => true %></li>
            <li><%= link_to "Browse by Party", {:action => 'switch_to_senator_by_party'}, :remote => true %></li>
          </ul>
        </div>
        <div class="navigation-container">
          <%= render :partial => 'browse_by_state', :locals => {:chamber => 'S'} %>
        </div>
      </div>
    </li>
    <li id="people">
      <div class="selector-container">
        <%= render :partial => 'browse_people' %>
      </div>
    </li>
  </ul>
</div>

<div id="person-container" class="fifteen columns box_a">
  <%= render :partial => 'person_partial', :locals => {:people => @people} %>
</div>
