<% @page_title = "#{@person.full_name}" %>

<div id="public-navigation-side">
	<%= render 'public-navigation-side' %>
</div>

<div id="profile">
<p id="notice"><%= notice %></p>

<h1><%= @person.first_name %> <%= @person.last_name %></h1>
<img src="<%= @person.photo_url %>"></img>

<h3>Basic Info</h3>
<p>
	<b>Name:</b>
	<%= @person.full_name %>
</p>
<p>
  <b>Date of birth:</b>
  <%= @person.date_of_birth %>
</p>
<p>
  <b>Date of death:</b>
	<% unless @person.date_of_death.nil? %>
  	<%= @person.date_of_death %>
	<% end %>
</p>
<p>
  <b>Bio:</b>
  <%= @person.bio %>
</p>
<p>
	<b>Religion:</b>
	<%= @person.religion.name %>
</p>
<p>
	<b>Education:</b><br />
  <%= @person.degrees.collect { |degree| 
			"#{degree.degree_earned} from <a href='/universities/#{degree.university_id}'>#{degree.find_university_name}</a><br />" 
			}.to_sentence(@person.no_separator).html_safe %>
</p>
<p>
	<b>Professional Experience:</b>
	<%= @person.professional_experience %>
</p>
<p>
	<b>Literary Work:</b>
	<%= @person.literary_work %>
</p>

<h3>Contact Info</h3>
<p>
	<b>Street Address:</b>
	<%= @person.contact_street_address %>		
</p>
<p>
	<b>City:</b>
	<%= @person.contact_city %>		
</p>	
<p>
	<b>State:</b>
	<%= @person.contact_state %>
</p>
<p>
	<b>Zip:</b>
	<%= @person.contact_zip %>		
</p>
<p>
	<b>Phone:</b>
	<%= @person.contact_phone %>
</p>
<p>
	<b>Fax:</b>
	<%= @person.contact_fax %>	
</p>
<p>
	<b>Email:</b>
	<%= @person.contact_email %>	
</p>
<p>
	<b>Web Page:</b>
	<%= @person.contact_web_page_name %>
	(<a href="<%= @person.contact_web_page_url %>">Link</a>)	
</p>


<h3>Relationships</h3>
<p>
	<b>Business Associates:</b>
	<% if @person.business_associates.size > 0 %>
		<%= @person.business_associates.collect { |business_associate| 
					"#{business_associate.full_name} @ <a href='/organizations/#{business_associate.organization_id}'>#{business_associate.find_organization_name}</a>" 
					}.to_sentence.html_safe %>
	<% else %>
		<%= "Information Not Yet Available. Research in progress." %>
	<% end %>
</p>
<p>
	<b>Related To:</b>
	<%= @person.family_members.collect { |family_member| 
				"<a href='#{family_member.family_member}'>#{family_member.find_person_name} (#{family_member.relationship})</a> - #{family_member.notes}" 
				}.to_sentence.html_safe %>
</p>

<h3>Financial</h3>
<p>
	<b>Net Worth</b><br />
	Minimum:
	<%= number_to_currency(@person.net_worth_minimum, :precision => 0) %><br />
	Average:
	<%= number_to_currency(@person.net_worth_average, :precision => 0) %><br />
	Maximum:
	<%= number_to_currency(@person.net_worth_maximum, :precision => 0) %><br />
</p>

<h3>Transactions</h3>
<p>
	<b>Assets:</b>
	<%= @person.personal_assets.collect { |asset|
				"<br /><b>Organization: </b>#{asset.find_organization_name}<br />
				<b>Value (exact): </b>#{number_to_currency(asset.value, :precision => 0)}<br />
				<b>Value (min): </b>#{number_to_currency(asset.value_min, :precision => 0)}<br />
				<b>Value (max): </b>#{number_to_currency(asset.value_max, :precision => 0)}<br />" 
				}.to_sentence(@person.no_separator).html_safe %>
</p>
<p>
	<b>Transactions:</b>
	<%= @person.transactions.size %>
</p>

<h3>Political</h3>
<p>
	<b>Endorsements:</b>
	<%= @person.endorsements.collect { |endorsement| 
				"#{endorsement.find_organization_name} in #{endorsement.year.year}" }.to_sentence %>
</p>
<p>
	<b>Issue Positions:</b>
	<%= @person.issue_positions.collect { |issue_position| 
				"<br /><b>#{issue_position.issue_topic}</b><br />
				 #{issue_position.question} <b>(#{issue_position.position})</b><br />"
						}.to_sentence(@person.no_separator).html_safe %>
</p>
<p>
	<b>Flip Flops:</b>
	<%= @person.flip_flops.collect { |flip_flop|
		 		"<br />Year: #{flip_flop.year.year}<br />
				 Issue: #{flip_flop.issue}<br />
				 Flip-flop: #{flip_flop.flipflop}<br />" }.to_sentence.html_safe %>
</p>
<p>
	<b>Campaign Platforms:</b>
	<%= @person.campaign_platforms.collect { |campaign_platform| 
				"<br />Year: #{campaign_platform.campaign_year.year}<br />
				 Topic: #{campaign_platform.topic}<br />
				 Position #{campaign_platform.position_on_issue}<br />"}.to_sentence.html_safe %>
</p>

<h3>Controversy</h3>
<p>	
	<b>Accusations:</b>
	<%= @person.accusations.collect { |accusation| 
				"<br />Year: #{accusation.date.year}<br />
				 Accusation: #{accusation.accusation}<br />
				 Outcome: #{accusation.outcome}<br />"}.to_sentence.html_safe %>
</p>
<p>
	<b>Litigation:</b>
	<%= @person.litigations.collect { |litigation| 
				"<br />Year: #{litigation.date.year}<br />
				 Litigation: #{litigation.litigation}<br />
				 Outcome: #{litigation.outcome}<br />"}.to_sentence.html_safe %>
</p>

<h3>Establishment</h3>
<p>
	<b>Political Offices Held:</b>
	<%= @person.political_offices.collect { |political_office| 
				"<br />Position: #{political_office.position}<br />
				District: #{political_office.district}<br />
				Office: #{political_office.office}<br />
				Dates In Office: #{political_office.date_started.year} -
					#{if political_office.date_finished.nil? 
							'present'
						else
							political_office.date_finished.year
						end}<br />"}.to_sentence.html_safe %>
</p>
<p>
	<b>Earmarks:</b>
	<%= @person.earmarks.collect { |earmark| 
				"<br />Organization: #{earmark.find_organization_name}<br />
				Description: #{earmark.description}<br />
				Sector: #{earmark.sector}<br />
				Amount: #{earmark.amount}<br />
				Year: #{earmark.year.year}<br />"}.to_sentence.html_safe %>
</p>
<p>
	<b>Demographics:</b>
	<%= @person.supporters.collect { |supporter| 
				"<br />Demographic: #{supporter.group_name}<br />
				Percentage: #{supporter.support_percentage}"}.to_sentence.html_safe %>
</p>
<p>
	<b>Contributors:</b>
	<%= @person.contributors.collect { |contributor| 
				"<br />Organization: #{contributor.find_organization_name}<br />
					Amount: #{contributor.amount}<br />"}.to_sentence.html_safe %>
</p>
<p>
	<b>Contributors (Interest Groups):</b>
	<%= @person.contributors_interest_groups.collect { |contributor_ig|
		 		"<br />Year: #{contributor_ig.year.year}<br />
				Organization: #{contributor_ig.find_organization_name}<br />
				Amount: #{contributor_ig.amount}<br />"}.to_sentence.html_safe %>
</p>
<p>
	<b>Contributors (Interest Group Sectors):</b>
	<%= @person.contributors_interest_group_sectors.collect { |contributor_igs|
				"<br />Year: #{contributor_igs.year.year}<br />
				Organization: #{contributor_igs.find_organization_name}<br />
				Amount: #{contributor_igs.amount}<br />"}.to_sentence.html_safe %>
</p>
<p>
	<b>Contributors (PAC):</b>
	<%= @person.contributors_pacs.collect { |contributor_pac| 
				"<br />Year: #{contributor_pac.year.year}<br />
				Organization: #{contributor_pac.find_organization_name}<br />
				Amount: #{contributor_pac.amount}<br />"}.to_sentence.html_safe %>
</p>

<h3>Attachments</h3>
<p>
	<b>Articles:</b>
	<%= @person.articles.collect { |article| 
				"<br />Date: #{article.date}<br />
				Title: #{article.title}<br />
				Excerpt: #{article.excerpt}<br />
				Link: <a href='#{article.article_url}'>#{article.article_url}</a><br />"}.to_sentence(@person.no_separator).html_safe %>
</p>
<p>
	<b>Videos:</b>
	<%= @person.videos.collect { |video| 
				"<br />Date: #{video.date}<br />
				Title: #{video.title}<br />
				Description: #{video.description}<br />
				Thumb URL: #{video.thumbnail_url}<br />
				Video URL: <a href='#{video.video_url}'>#{video.video_url}</a><br />"}.to_sentence(@person.no_separator).html_safe %>
</p>
<% if can? :edit, Person %>
	<%= link_to 'Edit', edit_person_path(@person) %> |
<% end %>
	<%= link_to 'Back to List', :controller => 'people', :action => 'all' %>

</div>