<% @page_title = "#{@person.first_name} #{@person.middle_name} #{@person.last_name}" %>

<div id="public-navigation-side">
	<%= render 'public-navigation-side' %>
</div>

<div id="profile">
<p id="notice"><%= notice %></p>

<h1><%= @person.first_name %> <%= @person.last_name %></h1>
<img src="<%= @person.photo_url %>"></img>

<h3>Basic Info</h3>
<p>
	<b>Name:</b>
	<%= @person.full_name %>
</p>
<p>
  <b>Date of birth:</b>
  <%= @person.date_of_birth %>
</p>

<% if !@person.date_of_death.nil? %>
	<p>
	  <b>Date of death:</b>
	  <%= @person.date_of_death %>
	</p>
<% end %>

<p>
  <b>Bio:</b>
  <%= @person.bio %>
</p>
<p>
	<b>Religion:</b>
	<%= @person.religion.name %>
</p>
<p>
	<b>Education:</b><br />
  <%= @person.degrees.collect { |degree| 
			"#{degree.degree_earned} from <a href='/universities/#{degree.university_id}'>#{degree.find_university_name}</a><br />" }.to_sentence.html_safe %>
</p>
<p>
	<b>Professional Experience:</b>
	<%= @person.professional_experience %>
</p>
<p>
	<b>Literary Work:</b>
	<%= @person.literary_work %>
</p>

<h3>Relationships</h3>
<p>
	<b>Business Associates:</b>
	<%= @person.business_associates.collect { |business_associate| 
				"#{business_associate.full_name} @ <a href='/organizations/#{business_associate.organization_id}'>#{business_associate.find_organization_name}</a>" }.to_sentence.html_safe %>	
</p>
<p>
	<b>Related To:</b>
	<%= @person.family_members.collect { |family_member| 
				"<a href='#{person_path(family_member)}'>#{family_member.name} (#{family_member.relationship})</a>" }.to_sentence.html_safe %>
</p>

<h3>Transactions</h3>
<p>
	<b>Assets:</b>
	<%= @person.personal_assets.size %>
</p>
<p>
	<b>Transactions:</b>
	<%= @person.transactions.size %>
</p>

<h3>Political</h3>
<p>
	<b>Endorsements:</b>
	<%= @person.endorsements.collect { |endorsement| 
				"#{endorsement.find_organization_name} in #{endorsement.year.year}" }.to_sentence %>
</p>
<p>
	<b>Issue Positions:</b>
	<%= @person.issue_positions.collect { |issue_position| 
				"<br />Issue Topic: #{issue_position.issue_topic}<br />
				 Question: #{issue_position.question}<br/>
				 Position: #{issue_position.position}<br /"}.to_sentence.html_safe %>
</p>
<p>
	<b>Flip Flops:</b>
	<%= @person.flip_flops.collect { |flip_flop|
		 		"<br />Year: #{flip_flop.year.year}<br />
				 Issue: #{flip_flop.issue}<br />
				 Flip-flop: #{flip_flop.flipflop}<br />" }.to_sentence.html_safe %>
</p>
<p>
	<b>Campaign Platforms:</b>
	<%= @person.campaign_platforms.collect { |campaign_platform| 
				"<br />Year: #{campaign_platform.campaign_year.year}<br />
				 Topic: #{campaign_platform.topic}<br />
				 Position #{campaign_platform.position_on_issue}<br />"}.to_sentence.html_safe %>
</p>

<h3>Controversy</h3>
<p>	
	<b>Accusations:</b>
	<%= @person.accusations.collect { |accusation| 
				"<br />Year: #{accusation.date.year}<br />
				 Accusation: #{accusation.accusation}<br />
				 Outcome: #{accusation.outcome}<br />"}.to_sentence.html_safe %>
</p>
<p>
	<b>Litigation:</b>
	<%= @person.litigations.collect { |litigation| 
				"<br />Year: #{litigation.date.year}<br />
				 Litigation: #{litigation.litigation}<br />
				 Outcome: #{litigation.outcome}<br />"}.to_sentence.html_safe %>
</p>

<h3>Establishment</h3>
<p>
	<b>Political Offices Held:</b>
	<%= @person.political_offices.collect { |political_office| 
				"<br />Position: #{political_office.position}<br />
				District: #{political_office.district}<br />
				Office: #{political_office.office}<br />
				Date Started: #{political_office.date_started}<br />
				Date Finished: #{political_office.date_finished}<br />"}.to_sentence.html_safe %>
</p>
<p>
	<b>Earmarks:</b>
	<%= @person.earmarks.collect { |earmark| 
				"<br />Organization: #{earmark.find_organization_name}<br />
				Description: #{earmark.description}<br />
				Sector: #{earmark.sector}<br />
				Amount: #{earmark.amount}<br />
				Year: #{earmark.year.year}<br />"}.to_sentence.html_safe %>
</p>
<p>
	<b>Demographics:</b>
	<%= @person.supporters.collect { |supporter| 
				"<br />Demographic: #{supporter.demographic}<br />
				Percentage: #{supporter.support_percentage}"}.to_sentence.html_safe %>
</p>
<p>
	<b>Contributors:</b>
	<%= @person.contributors.collect { |contributor| 
				"<br />Organization: #{contributor.find_organization_name}<br />
					Amount: #{contributor.amount}<br />"}.to_sentence.html_safe %>
</p>
<p>
	<b>Contributors (Interest Groups):</b>
	<%= @person.contributors_interest_groups.collect { |contributor_ig|
		 		"<br />Year: #{contributor_ig.year.year}<br />
				Organization: #{contributor_ig.find_organization_name}<br />
				Amount: #{contributor_ig.amount}<br />"}.to_sentence.html_safe %>
</p>
<p>
	<b>Contributors (Interest Group Sectors):</b>
	<%= @person.contributors_interest_group_sectors.collect { |contributor_igs|
				"<br />Year: #{contributor_igs.year.year}<br />
				Organization: #{contributor_igs.find_organization_name}<br />
				Amount: #{contributor_igs.amount}<br />"}.to_sentence.html_safe %>
</p>
<p>
	<b>Contributors (PAC):</b>
	<%= @person.contributors_pacs.collect { |contributor_pac| 
				"<br />Year: #{contributor_pac.year.year}<br />
				Organization: #{contributor_pac.find_organization_name}<br />
				Amount: #{contributor_pac.amount}<br />"}.to_sentence.html_safe %>
</p>

<h3>Attachments</h3>
<p>
	<b>Articles:</b>
	<%= @person.articles.collect { |article| 
				"<br />Date: #{article.date}<br />
				Title: #{article.title}<br />
				Excerpt: #{article.excerpt}<br />
				<a href='#{article_url}'>Link</a><br />"}.to_sentence.html_safe %>
</p>
<p>
	<b>Videos:</b>
	<%= @person.videos.collect { |video| 
				"<br />Date: #{video.date}<br />
				Title: #{video.title}<br />
				Description: #{video.description}<br />
				Thumb URL: #{video.thumbnail_url}<br />
				Video URL: <a href='#{video.video_url}'>#{video.video_url}</a><br />"}.to_sentence.html_safe %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back to List', people_path %>

</div>