<% @page_title = "#{@person.first_last_name}" %>
<%= javascript_include_tag "mapper/mapper.js" %>

<%= render 'js_push_to_window' %>

<div class="sixteen columns">
  <div id="bubble-map"></div>
  <div id="follow-button" style="display: none;">
    <% unless @person.twitter_id.nil? %>
    <a href="https://twitter.com/<%= @person.twitter_id %>" class="twitter-follow-button" data-show-count="false">Follow @<%= @person.twitter_id %></a>
    <% end %>
  </div>
  <div id="popup-text">
  </div>
  <div id="current-tweet">
  </div>
  <div id="media-center-separator">
    <div id="print-header" class="four columns">
      <h4><a href="<%= articles_person_path(@person) %>">Print Media <span class="red">>></span></a></h4>
    </div>
    <div id="media-center-header" class="four columns">
      <h4>Media Center</h4>
    </div>
    <div id="video-media-header" class="four columns">
      <h4><a href="<%= videos_person_path(@person) %>">Video Media <span class="red">>></span></a></h4>
    </div>
  </div>
  <div id="media-center" class="sixteen columns">
    <%= render 'articles' %>
    <%= render 'media' %>
  </div>
</div>
