<% @page_title = "#{@person.full_name}" %>
<%# here is where we put our stuff into js variables %>
<% if @person.photo_url != nil %>
<script type="text/javascript">
  window.photo_url = "<%= @person.photo_url %>";
</script>
<% end %>
<%# set these ones and let the client side figure it out %>
<script>
  window.full_name = "<%= @person.full_name %>";
  window.litigation = "<%= @person.litigations %>";
  window.accusations = "<%= @person.accusations %>";
  window.issue_positions = "<%= @person.issue_positions %>";
  window.net_worth = "Minimum: <%= @person.net_worth_minimum %>\n"
    + "Average: <%= @person.net_worth_average %>\n"
    + "Maximum: <%= @person.net_worth_maximum %>";
  window.investments = "<%= @person.personal_assets %>";
  window.family_network = "<%= @person.family_members %>";
  window.professional_experience = "<%= @person.professional_experience %>";
  window.political_offices = "<%= @person.political_offices %>";
  window.earmarks = "<%= @person.earmarks %>";
  window.campaign_platforms = "<%= @person.campaign_platforms %>";
  window.flip_flops = "<%= @person.flip_flops %>";
</script>

<div class="page-header">
  <%= render 'layouts/messages' %>
</div>

<div class="sixteen columns">
  <div id="bubble-map">
  </div>
  <div id="media-center-separator">
    <h4>Media Center</h4>
  </div>
  <div id="media-center" class="sixteen columns">
    <div id="media-center-articles">
    </div>
    <div id="media-center-videos">
      <%# render :partial => 'media' %>
    </div>
  </div>
</div>
