<% @page_title = "#{@person.full_name}" %>

<%# push necessary data to DOM %>
<script>
  window.pid = "<%= @person.id %>";
  window.nytid = "<%= @person.bioguide_id %>";
  window.photo_url = "<%= @person.photo_url %>";
  <% if @person.title.blank? %>
    window.full_name = "<%= @person.first_name + " " + @person.last_name %>";
  <% else %>
    window.full_name = "<%= @person.title + " " + @person.first_name + " " + @person.last_name %>";
  <% end %>
  window.current_party = "<%= @person.current_party %>";
  window.state_represented = "<%= @person.state_represented %>";
  window.district = "<%= @person.district %>";
  window.birthplace = "<%= @person.birthplace %>";
  window.birthdate = "<%= @person.date_of_birth %>";
  window.religion = "<%= @person.religion.name %>";
  window.twitter_id = "<%= @person.twitter_id %>";
  window.congressmember = "<%= @person.is_congress_member %>";
  window.chamber = "<%= @person.chamber %>";
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>

<div class="sixteen columns">
  <div id="bubble-map"></div>
  <div id="follow-button" style="display: none;">
    <% unless @person.twitter_id.nil? %>
    <a href="https://twitter.com/<%= @person.twitter_id %>" class="twitter-follow-button" data-show-count="false">Follow @<%= @person.twitter_id %></a>
    <% end %>
  </div>
  <div id="popup-text">
  </div>
  <div id="current-tweet">
  </div>
  <div id="media-center-separator">
    <div id="print-header" class="four columns">
      <h4><a href="<%= articles_person_path(@person) %>">Print Media <span class="red">>></span></a></h4>
    </div>
    <div id="media-center-header" class="four columns">
      <h4>Media Center</h4>
    </div>
    <div id="video-media-header" class="four columns">
      <h4><a href="<%= videos_person_path(@person) %>">Video Media <span class="red">>></span></a></h4>
    </div>
  </div>
  <div id="media-center" class="sixteen columns">
    <div id="media-center-articles" class="eight columns">
      <% if @articles.nil? || @articles['articles'].length == 0 %>
        <% feed_articles = parse_google_rss_feed(@person.full_name) %>
        <% n = 0 %>
        <% z = 0 %>
        <% while n < 10 %>
          <div class="article">
            <% title = feed_articles[z].title.split(/ - /)[0] %>
            <% url = feed_articles[z].url %>
            <% summary = feed_articles[z].summary.html_safe %>
            <h4><%= link_to title, url %></h4>
            <p>
              <%= truncate(strip_tags(summary), :length => 120) %>
              <%= link_to " Read More >", url, {:style => "color:red;"} %>
            </p>
          </div>
          <% n = n + 1 %>
          <% z = z + 1 %>
        <% end %>
        <br>
        <%= link_to "More Articles >>", articles_person_path(@person), :id => @person.id %>
      <% else %>
        <% @articles = @articles['articles'] %>
        <% i = 1 %>
        <% count = @articles.take(8).count %>
        <% @articles.take(8).each do |a| %>
          <% article = a[1] %>
          <% if i == 1 %>
            <div class="article">
            <% else %>
            <div class="article">
            <% end %>
              <h4><%= link_to article['post_title'], article['guid'].gsub(/#038;/, "") %></h4>
              <p>
                <%= truncate(article['post_excerpt'], :length => 120) %>
                <%= link_to " Read More >", article['guid'].gsub(/#038;/, ""), {:style => "color:red;"} %>
              </p>
            </div>
            <% i = i + 1 %>
        <% end %>
        <% if count < 10 %>
          <% feed_articles = parse_google_rss_feed(@person.full_name) %>
          <% n = count %>
          <% z = 0 %>
          <% while n < 10 %>
            <div class="article">
              <% title = feed_articles[z].title.split(/ - /)[0] %>
              <% url = feed_articles[z].url %>
              <% summary = feed_articles[z].summary.html_safe %>
              <h4><%= link_to title, url %></h4>
              <p>
                <%= truncate(strip_tags(summary), :length => 120) %>
                <%= link_to " Read More >", url, {:style => "color:red;"} %>
              </p>
            </div>
            <% n = n + 1 %>
            <% z = z + 1 %>
          <% end %>
        <% end %>
        <br>
        <%= link_to "More Articles >>", articles_person_path(@person), :id => @person.id %>
      <% end %>
    </div>
    <div id="media-center-videos" class="seven columns">
      <%= render :partial => 'media' %>
    </div>
  </div>
</div>
