
<% @page_title = "#{@person.full_name}" %>
<div id="tabs">
		
<div class="container-fluid">
	<div class="span3">
		<div class="well sidebar pub-nav" id="pub-nav">
			<%= render 'public-navigation-side' %>
			<% if can? :edit, Person %>
				<%= link_to 'Edit', edit_person_path(@person) %> |
			<% end %>
				<%= link_to 'Back to List', :controller => 'people', :action => 'all' %>
		</div>
 	</div>
	
<div id="profile">
	<div id="tabs-1">
		<%= render 'showtab1' %>
	</div> <!-- /#basic_info  -->
		
	<div id="tabs-2">
		<%= render 'showtab2' %>
	</div> <!-- /#contact_info -->
		
	<div id="tabs-3">
		<%= render 'showtab3' %>
	</div> <!-- /#relationships -->
	
	<div id="tabs-4">
		<%= render 'showtab4' %>
	</div> <!-- /#financial -->
	
	<div id="tabs-5">
		<%= render 'showtab5' %>
	</div> <!-- /#political -->
	
	<div id="tabs-6">
		<%= render 'showtab6' %>
	</div> <!-- /#controversy -->
	
	<div id="tabs-7">
		<%= render 'showtab7' %>
	</div> <!-- /#establishment -->
	
	<div id="tabs-8">
		<%= render 'showtab8' %>
	</div> <!-- /#attachments -->
	
</div> <!-- /#profile -->