<% @page_title = "#{@person.first_name} #{@person.middle_name} #{@person.last_name}" %>

<%= render 'public-navigation-side' %>

<p id="notice"><%= notice %></p>

<h1><%= @person.first_name %> <%= @person.last_name %></h1>

<p>
	<b>Name:</b>
	<%= @person.full_name %>
</p>
<p>
  <b>Date of birth:</b>
  <%= @person.date_of_birth %>
</p>

<% if !@person.date_of_death.nil? %>
	<p>
	  <b>Date of death:</b>
	  <%= @person.date_of_death %>
	</p>
<% end %>

<p>
  <b>Bio:</b>
  <%= @person.bio %>
</p>
<p>
	<b>Professional Experience:</b>
	<%= @person.professional_experience %>
</p>
<p>
	<b>Literary Work:</b>
	<%= @person.literary_work %>
</p>
</div>

<p>
	<b>Education:</b><br />
  <%= @person.degrees.collect { |x| x.degree_earned }.first %> from
	<%= @person.universities.collect { |u| 
				"<a href='#{university_path(u)}'>#{u.name}</a>" }.first.html_safe %><br />
	<%= @person.degrees.collect { |x| x.degree_earned }.second %> from
	<%= @person.universities.collect { |u| 
				"<a href='#{university_path(u)}'>#{u.name}</a>" }.second.html_safe %><br />
</p>
<p>
	<b>Endorsements:</b>
	<%= @person.endorsements.collect { |e| 
				"#{e.organization_id} in #{e.year.year}" }.to_sentence %>
</p>
<p>
<p>
	<b>Religion:</b>
	<%= @person.religion.name %>
</p>
<p>
	<b>Transactions:</b>
	<%= @person.transactions.size %>
</p>
<p>
	<b>Related To:</b>
	<%= @person.family_members.collect { |w| 
				"<a href='#{person_path(w)}'>#{w.name} (#{w.relationship})</a>" }.to_sentence.html_safe %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back to List', people_path %>
