<% @page_title = "#{@person.full_name}" %>

<%# push necessary data to DOM %>
<script>
  window.pid = "<%= @person.id %>";
  window.nytid = "<%= @person.bioguide_id %>";
  window.photo_url = "<%= @person.photo_url %>";
  window.full_name = "<%= @person.first_name + " " + @person.last_name %>";
  window.current_party = "<%= @person.current_party %>";
  window.state_represented = "<%= @person.state_represented %>";
  window.birthplace = "<%= @person.birthplace %>";
  window.birthdate = "<%= @person.date_of_birth %>";
  window.religion = "<%= @person.religion.name %>";
  window.twitter_id = "<%= @person.twitter_id %>";
  window.congressmember = "<%= @person.is_congress_member %>";
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>

<div class="page-header">
  <%= render 'layouts/messages' %>
</div>


<div class="sixteen columns">
  <div id="bubble-map"></div>
  <div id="follow-button" style="display: none;">
    <style>
      .twitter-follow-button {
        z-index: 999; 
        position: absolute; 
        left: 70px;
        top: 405px;
      }
    </style>
    <% unless @person.twitter_id.nil? %>
    <a href="https://twitter.com/<%= @person.twitter_id %>" class="twitter-follow-button" data-show-count="false">Follow @<%= @person.twitter_id %></a>
    <% end %>
  </div>
  <div id="popup-text">
  </div>
  <div id="current-tweet">
  </div>
  <div id="media-center-separator">
    <div id="print-header" class="four columns">
      <h4>Print Media <span class="red">>></span></h4>
    </div>
    <div id="media-center-header" class="four columns">
      <h4>Media Center</h4>
    </div>
    <div id="video-media-header" class="four columns">
      <h4>Video Media <span class="red">>></span></h4>
    </div>
  </div>
  <div id="media-center" class="sixteen columns">
    <div id="media-center-articles" class="eight columns">
      <% if @articles.nil? %>
      <h2>No articles found.</h1>
      <% else %>
      <% @articles = @articles['articles'] %>
      <% i = 1 %>
      <% @articles.take(8).each do |a| %>
      <% article = a[1] %>
      <% if i == 1 %>
      <div class="article first">
      <% else %>
      <div class="article">
      <% end %>
        <h4><%= link_to article['post_title'], article['guid'].gsub(/#038;/, "") %></h4>
        <p><%= truncate(article['post_excerpt'], :length => 140) %><%= link_to " Read More >", article['guid'].gsub(/#038;/, ""), {:style => "color:red;"} %></p>
      </div>
      <% i = i + 1 %>
      <% end %>
      <% end %>
    </div>
    <div id="media-center-videos" class="seven columns">
      <%= render :partial => 'media' %>
    </div>
  </div>
</div>
