<% @page_title = "#{@person.full_name}" %>

<%# push necessary data to DOM %>
<script>
  window.pid = "<%= @person.id %>";
  window.nytid = "<%= @person.nyt_id %>";
  window.photo_url = "<%= @person.photo_url %>";
  window.full_name = "<%= @person.first_name + " " + @person.last_name %>";
  window.current_party = "<%= @person.current_party %>";
  window.state_represented = "<%= @person.state_represented %>";
  window.birthplace = "<%= @person.birthplace %>";
  window.twitter_id = "<%= @person.twitter_id %>";
</script>

<div class="page-header">
  <%= render 'layouts/messages' %>
</div>

<style>
  #popup-text {
    position: absolute;
    top: 80px;
    left: 20px;
  }
  #current-tweet p {
    position: absolute;
    left: 20px;
    top: 430px;
    word-wrap: break-word;
    width: 335px;
  }

  /* fix datatable */
  #data-table {
    width: 920px;
  }
  #data-table_filter label {
    text-align: right;
    margin: 0;
    padding: 0;
  }
  #data-table_filter input {
    margin: 0;
    padding: 0;
  }
</style>
<div class="sixteen columns">
  <div id="bubble-map">
  </div>
  <div id="popup-text">
  </div>
  <div id="current-tweet">
  </div>
  <div id="media-center-separator">
    <h4>Media Center</h4>
  </div>
  <div id="media-center" class="sixteen columns">
    <div id="media-center-articles">
    </div>
    <div id="media-center-videos">
      <%# render :partial => 'media' %>
    </div>
  </div>
</div>
