<div class="container">
	<h1>Contributions made by <%= params[:contributor_name].titleize %> (2006 - 2012)
	<p id="notice"><%= notice %></p>
 	<div class="well">
		<div class="row">
			<div class="span4 well">
				<p>Party Breakdown</p>
				<p class="bignum"><%= party_breakdown %></p>
			</div>
			<div class="span4 well">
				<p>State/Federal Breakdown</p>
				<p class="bignum"><%= state_federal_breakdown %></p>
			</div>
			<div class="span4 well">
			</div>
		</div>
	</div>
	<table >
		<tr>
			<th>Cycle</th>
			<th>Amount</th>
			<th>Recipient Name</th>
			<th>Recipient Party</th>
			<th>Recipient State</th>
			<th>Committee Name</th>
		</tr>
		<% @contributions.each do |c| %>
		<tr>
			<td><%= c.date %> </td>
			<td><%= c.amount %></td>
			<td><%= c.recipient_name %></td>
			<td><%= c.recipient_party %></td>
			<td><%= c.recipient_state %></td>
			<td><%= c.committee_name %></td>
		</tr>
		<% end %>
	</table>
</div>
