<p id="notice"><%= notice %></p>

<p>
  <b>Organization:</b>
  <%= @business_associate.organization_id %>
</p>

<p>
  <b>Person:</b>
  <%= @business_associate.person_id %>
</p>

<p>
  <b>Full name:</b>
  <%= @business_associate.full_name %>
</p>

<p>
  <b>Position:</b>
  <%= @business_associate.position %>
</p>

<p>
  <b>Business relationship:</b>
  <%= @business_associate.business_relationship %>
</p>


<%= link_to 'Edit', edit_business_associate_path(@business_associate) %> |
<%= link_to 'Back', business_associates_path %>
