<p id="notice"><%= notice %></p>

<p>
  <b>Person:</b>
  <%= @relationship.person_id %>
</p>

<p>
  <b>Family member:</b>
  <%= @relationship.family_member_id %>
</p>


<%= link_to 'Edit', edit_relationship_path(@relationship) %> |
<%= link_to 'Back', relationships_path %>
