<%= form_for(@earmark) do |f| %>
  <% if @earmark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@earmark.errors.count, "error") %> prohibited this earmark from being saved:</h2>

      <ul>
      <% @earmark.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="field">
    <%= f.label :person_id %><br />
    <%= f.select(:person_id, options_for_select(@people.collect {|u| [u.last_name + ", " + u.first_name, u.id]}, @person.id)) %>
  </div>
  <div class="field">
    <%= f.label :organization %><br />
    <%= f.select(:organization_id, @organizations.collect {|t| [t.name, t.id]}, :include_blank => true) %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :sector %><br />
    <%= f.text_field :sector %>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.number_field :amount %>
  </div>
  <div class="field">
    <%= f.label :year %><br />
    <%= f.date_select :year, :discard_month => true, :discard_day => true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
