<p id="notice"><%= notice %></p>

<p>
  <b>Person:</b>
  <%= @earmark.person_id %>
</p>

<p>
  <b>Organization:</b>
  <%= @earmark.organization_id %>
</p>

<p>
  <b>Description:</b>
  <%= @earmark.description %>
</p>

<p>
  <b>Sector:</b>
  <%= @earmark.sector %>
</p>

<p>
  <b>Amount:</b>
  <%= @earmark.amount %>
</p>


<%= link_to 'Edit', edit_earmark_path(@earmark) %> |
<%= link_to 'Back', earmarks_path %>
