<%= error_messages_for(@user) %>

<h1>Manage Users</h1>

<table class="listing">
	<tr class="header">
		<th>username</th>
		<th>email</th>
		<th>role</th>
		<th>actions</th>
	</tr>
<% @users.each do |user| %>
	<tr class="<%= cycle('odd', 'even') %>">
    <td><%= user.username %></td>
		<td><%= user.email %></td>
		<td><%= user.roles_mask %></td>
		<% if can? :edit, User %>
			<td><%= link_to 'Edit', edit_user_path(user), :class => 'button edit' %></td>
		<% end %>
		<td><%= link_to 'Show', user, :class => 'button show' %></td>
		<% if can? :destroy, User %>	
			<td><%= link_to 'Destroy', user, confirm: "Do you really want to delete this user?", :method => :delete, :class => 'button delete' %></td>
		<% end %>
	</tr>
<% end %>
</table>
<% if can? :create, User %>
	<%= link_to('Add User', {:controller => 'users', :action => 'new'}, :class => 'button add', :style => 'float: left;') %>
<% end %>