<div class="sixteen columns">	
  <%= error_messages_for(@user) %>
  <h1 class="page-title">Manage Users</h1>
  <table class="table-striped">
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Role</th>
      <th>Actions</th>
      <% if can? :edit, User %>
      <th>Edit</th>
      <% end %>
      <% if can? :destroy, User %>
      <th>Destroy</th>
      <% end %>
    </tr>
    <% @users.each do |user| %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td><%= user.username %></td>
      <td><%= user.email %></td>
      <td><%= user.roles_mask %></td>
      <% if can? :edit, User %>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <% end %>
      <td><%= link_to 'Show', user %></td>
      <% if can? :destroy, User %>	
      <td><%= link_to 'Destroy', user, confirm: "Do you really want to delete this user?", :method => :delete %></td>
      <% end %>
    </tr>
    <% end %>
  </table>
  <% if can? :create, User %>
  <%= link_to('Add User', {:controller => 'users', :action => 'new'}, :class => 'button', :style => 'float: left;') %>
  <% end %>
</div>
