<div class="container">
	<%= form_for(@user, :html => { :class => 'form-stacked' }) do |f| %>
	<%= error_messages_for(@user) %>

	<h3>Add New User!</h3>

		<p>
			<%= f.label :username %>
			<%= f.text_field :username %>
		</p>
		<p>
			<%= f.label :email %>
			<%= f.text_field :email %>
		</p>
		<p>
			<%= f.label :password %>
			<%= f.password_field :password %>
		</p>
		<p>
			<%= f.label :password_confirmation %>
			<%= f.password_field :password_confirmation %>
		</p>
		<p>
			<%= f.label :roles %>
	    <% for role in User::ROLES %>
	      <%= check_box_tag "user[roles][]", role, @user.roles.include?(role) %>
	      <%=h role.humanize %><br />
	    <% end %>
	    <%= hidden_field_tag "user[roles][]", "" %>
		</p>
		
			<%= f.submit :class => 'btn success' %>
			<% end %>

</p>
				