<p id="notice"><%= notice %></p>

<p>
  <b>Person:</b>
  <%= @personal_asset.person_id %>
</p>

<p>
  <b>Organization name:</b>
  <%= @personal_asset.organization_name %>
</p>

<p>
  <b>Action:</b>
  <%= @personal_asset.action %>
</p>

<p>
  <b>Date:</b>
  <%= @personal_asset.date %>
</p>

<p>
  <b>Value min:</b>
  <%= @personal_asset.value_min %>
</p>

<p>
  <b>Value max:</b>
  <%= @personal_asset.value_max %>
</p>

<p>
  <b>Value:</b>
  <%= @personal_asset.value %>
</p>


<%= link_to 'Edit', edit_personal_asset_path(@personal_asset) %> |
<%= link_to 'Back', personal_assets_path %>
