<%= stylesheet_link_tag "legislation" %>
<div id="legislation-loader" style="display: none">
  <%= image_tag 'ajax-loader.gif' %>
</div>
<% if @legislation.count == 0 %>
<h2>No records found.</h2>
<% else %>
<table id="legislation-table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Bill No.</th>
      <th>Bill Title</th>
      <th>Outcome</th>
      <% if can? :edit, Legislation %>
      <th>Edit</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @legislation.each do |legislation| %>
    <tr class="<%= cycle("even", "odd") %>">
      <% if legislation.introduced_date.nil? %>
      <td></td>
      <% else %>
      <td><%= link_to legislation.introduced_date.to_date.strftime("%-m-%e\n%Y"), legislation %></td>
      <% end %>
      <td class="span3"><%= link_to "#{legislation.bill_type.upcase} #{legislation.bill_number}", legislation %></td>
      <td><%= link_to truncate(legislation.bill_title, :length => 110), legislation %></td>
      <% if legislation.passage_votes.empty? %>
      <td><%= legislation.latest_major_action %></td>
      <% else %>
      <% passage_votes = legislation.passage_votes %>
      <% last_vote = passage_votes.last %>
      <td><%= "#{last_vote.result.capitalize}ed #{last_vote.chamber.capitalize}"%></td>
      <% end %>
      <% if can? :edit, Legislation %>
      <td><%= link_to "Edit", edit_legislation_path(legislation) %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
