<div class="sixteen columns">
  <div class="four columns">
    <h1 class="page-title">Legislation</h1>
  </div>
  <div class="three columns">
    <%= form_for :legislations, :remote => true, :url => {:action => 'refresh'} do |f| %>
    <label class="two columns">
      By Year
      <%= f.text_field :introduced_year %>
    </label>
    <%= f.submit "Go", :class => 'no-padding' %>
    <% end %>
  </div>
  <div class="four columns">
    <%= form_for :legislations, :remote => true, :url => {:action => 'refresh'} do |f| %>
    <label class="three columns">
      By Session
      <% sessions = ["112", "111", "110"] %>
      <%= f.select :congress_year, sessions %>
    </label>
    <%= f.submit "Go", :class => 'no-padding' %>
    <% end %>
  </div>
  <div class="four columns">
    <%= form_for :legislations, :remote => true, :url => {:action => 'refresh'} do |f| %>
    <label class="three columns">
      By Issue
      <%= f.select :issue_id, Issue.all.collect { |i| [i.name, i.id] } %>
    </label>
    <%= f.submit "Go", :class => 'no-padding' %>
    <% end %>
  </div>
</div>

<div id="legislation-container" class="fifteen columns box_a" style="margin-left: 20px;">
  <%= render :partial => 'legislation_partial', :locals => {:legislation => @legislation} %>
</div>
