<div class="content-wrap">
  <div class="sixteen columns">
    <div class="four columns omega">
      <h1 class="page-title">Legislation</h1>
    </div>
  </div>

  <article>
  <div class="twelve columns">
    <h4 id="legislation-title"><%= @legislation.bill_type.upcase %> <%= @legislation.bill_number %>: <%= @legislation.bill_title.upcase %></h4>
    <div class="bill_pdf">
      <% if @legislation.bill_pdf != nil %>
      <iframe src="http://docs.google.com/gview?url=<%= @legislation.bill_pdf %>&embedded=true" class="twelve columns" style="height:900px;" frameborder="0"></iframe>
      <% else %>
      <p style="font-size: 14px; padding-left: 10px;">No pdf on file for this bill.</p>
      <% end %>
    </div>
  </div>

  <div class="four columns">
    <div id="full_text" class="box_d">
      <h2><a href="<%= @legislation.bill_pdf %>" style="color: #FFF; text-decoration: none;">Download PDF</a></h2>
    </div>

    <aside id="status" class="box_c">
    <h2>Status</h2>
    <% if @legislation.actions %>
    <% actions = @legislation.actions %>
    <table>
      <% actions.each do |a| %>
      <tr>
        <td><%= truncate(a.text, :length => 80) %></td>
        <td><%= a.acted_at.to_date %></td>
      </tr>
      <% end %>
      <% if @legislation.passage_votes %>
      <% passage_votes = @legislation.passage_votes %>
      <% passage_votes.each do |pv| %>
      <tr>
        <td><%= "#{pv.result}ed".capitalize %> <%= pv.chamber.capitalize %></td>
        <td><%= pv.voted_at.to_date %></td>
      </tr>
      <% end %>
      <% end %>
    </table>
    <% else %>
      No actions recorded.
    <% end %>
    </aside>

    <aside id="prognosis" class="box_c">
    <h2>Prognosis</h2>
    <p>Just 29% of all House bills reported favorably by committee in 2009-2010 were enacted.</p>
    </aside>

    <aside id="votes" class="box_d">
    <% client = Congress::Client.new %>
    <% votes = client.votes(:bill_id => @legislation.rtc_id) %>
    <% if votes['count'] == 0 %>
    <h2>No Votes</h2>
    <% else %>
    <% vote = votes['votes'].last %>
    <% breakdown = vote.vote_breakdown.total %>
    <% yea = breakdown.yea %>
    <% nay = breakdown.nay %>
    <h2>Votes: Yea (<%= yea %>) - Nay (<%= nay %>)</h2>
    <% end %>
    </aside>

    <aside id="issues" class="box_c">
    <h2>Issues (sectors)</h2>
    <% legislation_issues = @legislation.legislation_issues %>
    <% issue_count = legislation_issues.count %>
    <% n = 1 %>
    <% legislation_issues.each do |i| %>
    <% issue = i.issue %>
    <% if n < 7 %>
    <p><a href="/issues/<%= issue.to_param %>"><%= issue.name %></a></p>
    <% elsif n == 7 %>
    <p>
      <%= link_to "more...", "#", :id => "more-issues", :onclick => "return false;" %>
    </p>
    <p class="hidden-issue" style="display:none;">
      <%= link_to issue.name, issue_path(issue.to_param) %>
    </p>
    <% else %>
    <p class="hidden-issue" style="display:none;">
      <%= link_to issue.name, issue_path(issue.to_param) %>
    </p>
    <% end %>
    <% n = n + 1 %>
    <% end %>
    </aside>

    <aside id="sponsors" class="box_c">
    <h2>Sponsor</h2>
    <p><a href="<%= person_path(Person.find_by_bioguide_id(@legislation.bill_sponsor_id)) %>"><%= @legislation.bill_sponsor %></a></p>
    </aside>

    <aside id="cosponsors" class="box_d">
    <% cosponsors = @legislation.legislation_cosponsors %>
    <h2 id="cosponsors-header"><a href="#" onclick="return false;">Cosponsors (<%= cosponsors.count %>)</a></h2>
    <ul id="cosponsors-list">
      <% cosponsors.each do |c| %>
      <p><a href="<%= person_path(Person.find(c.person.id)) %>"><%= c.person.name %></a></p>
      <% end %>
    </ul>
    </aside>

    <aside id="committees" class="box_c">
    <h2>Committees</h2>
    <% committees = CommitteeLegislation.where(:legislation_id => @legislation.id) %>
    <% committees.each do |c| %>
      <% com = Committee.find(c.committee_id) %>
      <p><%= link_to com.name, com %></p>
    <% end %>
    </aside>
  </div>
  </article>
</div>
