<div class="container">	
	<h1><%= @legislation.bill_number %></h1>
	<p>
		<b>Summary:</b>
		<%= @legislation.summary %>
	</p>
	
	<p>
		<b>Title:</b>
		<%= @legislation.bill_title %>
	</p>
	
	<p>
		<b>Sponsor:</b>
			<a href="<%= person_path(Person.find_by_nyt_id(@legislation.bill_sponsor_id)) %>"><%= @legislation.bill_sponsor %></a>
	</p>
	
	<p>
		<b>Introduced:</b>
		<%= @legislation.introduced_date %> (Congress Year: <%= @legislation.congress_year %>)
	</p>
	
	<p>
		<b>Last Major Action:</b>
		<%= @legislation.latest_major_action_date %> - <%= @legislation.latest_major_action %>
	</p>
	
	<p>
		<b>Cosponsors:</b>
			<%= @legislation.legislation_cosponsors.collect { |c| 
				"<a href='#{person_path(Person.find_by_id(c.person_id))}'>#{Person.find_by_id(c.person_id).first_name} #{Person.find_by_id(c.person_id).last_name}</a>"
				}.to_sentence.html_safe %>
	</p>

	<p>
		<b>Cosponsors by party:</b>
		Republican: 
		<% if @legislation.republican_cosponsors.blank? %>
			0
		<% else %>
			<%= @legislation.republican_cosponsors %>
		<% end %>
		
		Democratic: 
		<% if @legislation.democratic_cosponsors.blank? %>
			0
		<% else %>
			<%= @legislation.democratic_cosponsors %>
		<% end %>
	</p>
	
	<p>
		<b>Legislation Issues:</b>
		<%= @legislation.issues.collect { |i| "<a href='/issues/#{Issue.where("name like ?", "%#{i.name}").first.id}'>#{i.name}</a>" }.to_sentence.html_safe %>
	</p>		

	<p>
		<b>Committees:</b>
		<%= @legislation.committees.collect { |c| "<a href='/committees/#{Committee.where("name like ?", "%#{c.name}").first.id }'>#{c.name}</a>" }.to_sentence.html_safe %>
	</p>
	
	<p>
		<b>Bill PDF:</b>
		<a href="<%= @legislation.bill_pdf %>">Download</a>
		<iframe src="http://docs.google.com/gview?url=<%= @legislation.bill_pdf %>&embedded=true" style="width:960px; height:900px;" frameborder="0"></iframe>
	</p>	
		
</div>