<h1>Listing accusations</h1>

<table>
  <tr>
    <th>Person</th>
    <th>Date</th>
    <th>Accusation</th>
    <th>Outcome</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @accusations.each do |accusation| %>
  <tr>
    <td><%= accusation.person_id %></td>
    <td><%= accusation.date %></td>
    <td><%= accusation.accusation %></td>
    <td><%= accusation.outcome %></td>
    <td><%= link_to 'Show', accusation %></td>
    <td><%= link_to 'Edit', edit_accusation_path(accusation) %></td>
    <td><%= link_to 'Destroy', accusation, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Accusation', new_accusation_path %>
