<p id="notice"><%= notice %></p>

<p>
  <b>Person:</b>
  <%= @accusation.person_id %>
</p>

<p>
  <b>Date:</b>
  <%= @accusation.date %>
</p>

<p>
  <b>Accusation:</b>
  <%= @accusation.accusation %>
</p>

<p>
  <b>Outcome:</b>
  <%= @accusation.outcome %>
</p>


<%= link_to 'Edit', edit_accusation_path(@accusation) %> |
<%= link_to 'Back', accusations_path %>
