<%= form_for(@degree) do |f| %>
  <% if @degree.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@degree.errors.count, "error") %> prohibited this degree from being saved:</h2>

      <ul>
      <% @degree.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :university %><br />
    <%= f.text_field :university %>
  </div>
  <div class="field">
    <%= f.label :person %><br />
    <%= f.text_field :person %>
  </div>
  <div class="field">
    <%= f.label :degree_earned %><br />
    <%= f.text_field :degree_earned %>
  </div>
  <div class="field">
    <%= f.label :year_earned %><br />
    <%= f.date_select :year_earned %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
