<%= form_for(@degree) do |f| %>
  <% if @degree.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@degree.errors.count, "error") %> prohibited this degree from being saved:</h2>

      <ul>
      <% @degree.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :university %><br />
    <%= f.select(:university_id, @universities.collect {|t| [t.name, t.id]}, :include_blank => true, :selected => nil) %>
  </div>
  <div class="field">
    <%= f.label :person %><br />
    <%= f.select(:person_id, options_for_select(@people.collect {|u| [u.last_name + ", " + u.first_name, u.id]}, @person.id))%>
  </div>
	<!-- <div class="field">
    <%= f.label :person_id %><br />
    <%= @person.id %>
  </div> --> <!-- does not pass correctly -->
  <div class="field">
    <%= f.label :degree_earned %><br />
    <%= f.text_field :degree_earned %>
  </div>
  <div class="field">
    <%= f.label :year_earned %><br />
    <%= f.date_select :year_earned, :discard_month => true, :discard_day => true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>