<h1>Listing degrees</h1>

<table>
  <tr>
    <th>University</th>
    <th>Person</th>
    <th>Degree earned</th>
    <th>Year earned</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @degrees.each do |degree| %>
  <tr>
    <td><%= degree.university %></td>
    <td><%= degree.person %></td>
    <td><%= degree.degree_earned %></td>
    <td><%= degree.year_earned %></td>
    <td><%= link_to 'Show', degree %></td>
    <td><%= link_to 'Edit', edit_degree_path(degree) %></td>
    <td><%= link_to 'Destroy', degree, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Degree', new_degree_path %>
