<h1>Listing contributors_interest_groups</h1>

<table>
  <tr>
    <th>Person</th>
    <th>Name</th>
    <th>Amount</th>
    <th>Year</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contributors_interest_groups.each do |contributors_interest_group| %>
  <tr>
    <td><%= contributors_interest_group.person_id %></td>
    <td><%= contributors_interest_group.name %></td>
    <td><%= contributors_interest_group.amount %></td>
    <td><%= contributors_interest_group.year %></td>
    <td><%= link_to 'Show', contributors_interest_group %></td>
    <td><%= link_to 'Edit', edit_contributors_interest_group_path(contributors_interest_group) %></td>
    <td><%= link_to 'Destroy', contributors_interest_group, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '<< Back to People', people_path %>
