<div class="container">
  <p id="notice"><%= notice %></p>

  <h1><%= @committee.name %></h1>

  <div id="about">
    <%= @committee.about %>
  </div>

  <div class="row">
    <div id="members" class="span4 column">
      <h2>Members</h2>
      <ul>
        <% @committee.people.collect do |person| %>
          <li><%= link_to "#{person.name}", person %></li>
        <% end %>
      </ul>
    </div>
    <div class="column">
      <div id="jurisdiction">
        <h2>Jurisdiction</h2>
      </div>
      <div id="subcommittees">
        <h2>Subcommittees</h2>
        <ul>
          <% @committee.subcommittees.collect do |sc| %>
            <li><%= link_to "#{sc.name}", sc %></li>
          <% end %>
        </ul>
      </div>
      <div id="contact-info">
        <h2>Contact Info</h2>
      </div>
    </div>
  </div>

  <div id="bills">
    <h2>Bills Overseen</h2>
    <%= @committee.legislations.collect { |l| l.bill_number }.to_sentence %>
  </div>
</div>
