<div id="committee-page" class="sixteen columns">
  <p id="notice"><%= notice %></p>

  <h1 class="page-title"><%= @committee.name %></h1>

  <div id="about" class="box_a">
    <h2 class="sub-title">About</h4>
    <% if @committee.about == nil %>
    <p><%= RESEARCH_IN_PROGRESS %></p>
    <% else %>
    <p><%= @committee.about %></p>
    <% end %>
  </div>

  <div class="row">
    <div class="six columns box_b" style="margin-left: 0;">
      <h2 class="sub-title">Members</h2>
      <ul id="members">
        <% @committee.people.collect do |person| %>
        <li><%= link_to "#{person.name}", person %></li>
        <% end %>
      </ul>
    </div>
    <div id="jurisdiction" class="nine columns box_b committee-right">
      <h2 class="sub-title">Jurisdiction</h2>
      <% if @committee.jurisdiction == nil %>
      <p><%= RESEARCH_IN_PROGRESS %></p>
      <% else %>
      <%= @committee.jurisdiction %>
      <% end %>
    </div>
    <div id="subcommittees" class="nine columns box_b committee-right">
      <h2 class="sub-title">Subcommittees</h2>
      <ul>
        <% @committee.subcommittees.collect do |sc| %>
        <li><%= link_to "#{sc.name}", sc %></li>
        <% end %>
      </ul>
    </div>
    <div id="contact-info" class="nine columns box_b committee-right">
      <h2 class="sub-title">Contact Info</h2>
      <% if @committee.contact_info == nil %>
      <p><%= RESEARCH_IN_PROGRESS %></p>
      <% else %>
      <% @committee.contact_info %>
      <% end %>
    </div>
    <div id="attribution" class="nine columns box_b committee-right">
      <h2 class="sub-title">Attribution</h2>
      <p>
        Member names, committee names and subcommittee names provided by <b><%= link_to "Sunlight Labs", "http://www.sunlightlabs.com" %></b>
      </p>
    </div>
  </div>

  <div id="bills">
    <h4>Recent Actions</h4>
    <% legislations = @committee.legislations.order('latest_major_action_date DESC').take(5) %>
    <table class="table-striped">
      <thead>
        <th>Bill Number</th>
        <th>Bill Title</th>
        <th>Latest Action</th>
      </thead>
      <tbody>
        <% legislations.each do |l| %>
        <tr>
          <td><%= link_to "#{l.bill_type.upcase} #{l.bill_number}", l %></td>
          <td><%= link_to l.bill_title, l %></td>
          <% if l.latest_major_action %>
            <td><%= link_to l.latest_major_action, l %>
          <% elsif l.actions.last %>
            <% latest_action = l.actions.last %>
            <td><%= latest_action.text %></td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
