<%= form_for(@political_office) do |f| %>
  <% if @political_office.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@political_office.errors.count, "error") %> prohibited this political_office from being saved:</h2>

      <ul>
      <% @political_office.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :person_id %><br />
    <%= f.select(:person_id, options_for_select(@people.collect {|u| [u.last_name + ", " + u.first_name, u.id]}, @person.id))%>
  </div>
  <div class="field">
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </div>
  <div class="field">
    <%= f.label :district %><br />
    <%= f.text_field :district %>
  </div>
  <div class="field">
    <%= f.label :office %><br />
    <%= f.text_field :office %>
  </div>
  <div class="field">
    <%= f.label :date_started %><br />
    <%= f.date_select :date_started, :discard_day => true, :discard_month => :true %>
  </div>
  <div class="field">
    <%= f.label :date_finished %><br />
    <%= f.date_select :date_finished, :discard_day => true, :discard_month => :true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
