<h1>Listing political_offices</h1>

<table>
  <tr>
    <th>Person</th>
    <th>Position</th>
    <th>District</th>
    <th>Office</th>
    <th>Date started</th>
    <th>Date finished</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @political_offices.each do |political_office| %>
  <tr>
    <td><%= political_office.person_id %></td>
    <td><%= political_office.position %></td>
    <td><%= political_office.district %></td>
    <td><%= political_office.office %></td>
    <td><%= political_office.date_started %></td>
    <td><%= political_office.date_finished %></td>
    <td><%= link_to 'Show', political_office %></td>
    <td><%= link_to 'Edit', edit_political_office_path(political_office) %></td>
    <td><%= link_to 'Destroy', political_office, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Political office', new_political_office_path %>
