<p id="notice"><%= notice %></p>

<p>
  <b>Person:</b>
  <%= @contributors_interest_group_sector.person_id %>
</p>

<p>
  <b>Name:</b>
  <%= @contributors_interest_group_sector.name %>
</p>

<p>
  <b>Amount:</b>
  <%= @contributors_interest_group_sector.amount %>
</p>

<p>
  <b>Year:</b>
  <%= @contributors_interest_group_sector.year %>
</p>


<%= link_to 'Edit', edit_contributors_interest_group_sector_path(@contributors_interest_group_sector) %> |
<%= link_to 'Back', contributors_interest_group_sectors_path %>
