<%= form_for(@endorsement) do |f| %>
  <% if @endorsement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@endorsement.errors.count, "error") %> prohibited this endorsement from being saved:</h2>

      <ul>
      <% @endorsement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :organization %><br />
    <%= f.select(:organization_name, @organizations.collect {|t| [t.name]}, :include_blank => true, :selected => nil) %>
  </div>
  <div class="field">
    <%= f.label :person_id %><br />
    <%= f.select(:person_id, options_for_select(@people.collect {|u| [u.last_name + ", " + u.first_name, u.id]}, @person.id))%>
  </div>
	<div class="field">
    <%= f.label :year, "Year" %><br />
    <%= f.date_select(:year, :start_year => 1951, :discard_day => true, :discard_month => true) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>