<%= form_for(@supporter) do |f| %>
  <% if @supporter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@supporter.errors.count, "error") %> prohibited this supporter from being saved:</h2>

      <ul>
      <% @supporter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :group_name %><br />
    <%= f.text_field :group_name %>
  </div>
  <div class="field">
    <%= f.label :support_percentage %><br />
    <%= f.text_field :support_percentage %>
  </div>
  <div class="field">
    <%= f.label :person_id %><br />
    <%= f.number_field :person_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
