<p id="notice"><%= notice %></p>

<p>
  <b>Group name:</b>
  <%= @supporter.group_name %>
</p>

<p>
  <b>Support percentage:</b>
  <%= @supporter.support_percentage %>
</p>

<p>
  <b>Person:</b>
  <%= @supporter.person_id %>
</p>


<%= link_to 'Edit', edit_supporter_path(@supporter) %> |
<%= link_to 'Back', supporters_path %>
