<%= form_for(@campaign_platform) do |f| %>
  <% if @campaign_platform.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@campaign_platform.errors.count, "error") %> prohibited this campaign_platform from being saved:</h2>

      <ul>
      <% @campaign_platform.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :person, 'Person ID' %><br />
    <%= f.select(:person_id, options_for_select(@people.collect {|u| [u.last_name + ", " + u.first_name, u.id]}, @person.id))%>
  </div>
  <div class="field">
    <%= f.label :campaign_year %><br />
    <%= f.date_select :campaign_year %>
  </div>
  <div class="field">
    <%= f.label :topic %><br />
    <%= f.text_field :topic %>
  </div>
  <div class="field">
    <%= f.label :position_on_issue %><br />
    <%= f.text_field :position_on_issue %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
