<h1>Listing campaign_platforms</h1>

<table>
  <tr>
    <th>Person</th>
    <th>Campaign year</th>
    <th>Topic</th>
    <th>Position on issue</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @campaign_platforms.each do |campaign_platform| %>
  <tr>
    <td><%= campaign_platform.person_id %></td>
    <td><%= campaign_platform.campaign_year %></td>
    <td><%= campaign_platform.topic %></td>
    <td><%= campaign_platform.position_on_issue %></td>
    <td><%= link_to 'Show', campaign_platform %></td>
    <td><%= link_to 'Edit', edit_campaign_platform_path(campaign_platform) %></td>
    <td><%= link_to 'Destroy', campaign_platform, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '<< Back to People', people_path %>
