<p id="notice"><%= notice %></p>

<p>
  <b>Person:</b>
  <%= @litigation.person_id %>
</p>

<p>
  <b>Date:</b>
  <%= @litigation.date %>
</p>

<p>
  <b>Litigation:</b>
  <%= @litigation.litigation %>
</p>

<p>
  <b>Outcome:</b>
  <%= @litigation.outcome %>
</p>


<%= link_to 'Edit', edit_litigation_path(@litigation) %> |
<%= link_to 'Back', litigations_path %>
