<h1>Listing contributors</h1>

<table>
  <tr>
    <th>Person</th>
    <th>Organization</th>
    <th>Amount</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contributors.each do |contributor| %>
  <tr>
    <td><%= contributor.person_id %></td>
    <td><%= contributor.organization_id %></td>
    <td><%= contributor.amount %></td>
    <td><%= link_to 'Show', contributor %></td>
    <td><%= link_to 'Edit', edit_contributor_path(contributor) %></td>
    <td><%= link_to 'Destroy', contributor, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contributor', new_contributor_path %>
