<div class="content-wrap sixteen columns">
  <%= render 'layouts/messages' %>
  <h1 class="page-title">Manage universities</h1>
  <table class="table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Show</th>
        <th>Edit</th>
        <th>Destroy</th>
      </tr>
    </thead>
    <tbody>
      <% @universities.each do |university| %>
      <tr class="<%= cycle('even', 'odd') %>">
        <td><%= university.name %></td>
        <td><%= link_to 'Show', university %></td>
        <td><%= link_to 'Edit', edit_university_path(university) %></td>
        <td><%= link_to 'Destroy', university, confirm: 'Are you sure?', method: :delete %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'New University', new_university_path, :class => 'button' %>
</div>
