<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @university.name %>
</p>
<p>
	<b>People who have attended <%= @university.name %>:</b><br />
	<%= @university.people.map { |p| 
				"<a href='#{person_path(p)}'>#{p.first_name} #{p.last_name}</a>" }.to_sentence.html_safe %>
</p>


<%= link_to 'Edit', edit_university_path(@university) %> |
<%= link_to 'Back', universities_path %>