<!DOCTYPE html>
<html lang="en">
<head>
  <title>American Politics 411 | <%= @page_title %></title>
  <%= stylesheet_link_tag    "application" %>
	<%= stylesheet_link_tag    "public" %>
  <%= javascript_include_tag "application" %>
	<%= javascript_include_tag "person" %>
  <%= csrf_meta_tags %>

</head>
<body>
	<!-- TOPBAR  -->
	<%= render 'layouts/topbar' %>

	
	<!-- BODY -->
	<%= yield %>

</body>
</html>
