<!doctype html>
<html lang="en">
  <head>
    <title>American Politics 411 | <%= @page_title %></title>
    <%= stylesheet_link_tag    'base', 'skeleton', 'layout', 'style', 'person', 'committees', 'application', 'public' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

    <!--[if lt IE 9]>
    <script src="iefixes/html5shiv.js"></script>
    <script src="iefixes/selectivizr-min.js"></script>
    <script>
      $(document).ready(function() {
        $('#header-nav ul li').css({"float": "left"});
        $('#menu-item-news').css({"width": "80px", "padding-left": "60px"});
      });
    </script>
    <![endif]-->

    <script>
      (function() {
        var cx = '003827569551005567108:byo6hypvaji';
        var gcse = document.createElement('script'); gcse.type = 'text/javascript'; gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <script type='text/javascript'>
      (function (d, t) {
        var bh = d.createElement(t), s = d.getElementsByTagName(t)[0];
        bh.type = 'text/javascript';
        bh.src = '//www.bugherd.com/sidebarv2.js?apikey=cicnxxbktlq96gt8y3iwpq';
        s.parentNode.insertBefore(bh, s);
      })(document, 'script');
    </script>
    <script type="text/javascript">
      var _qevents = _qevents || [];
      (function() {
      var elem = document.createElement('script');
      elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
      elem.async = true;
      elem.type = "text/javascript";
      var scpt = document.getElementsByTagName('script')[0];
      scpt.parentNode.insertBefore(elem, scpt);
      })();
      _qevents.push({
      qacct:"p-zDSJvX5A5tzaF"
      });
    </script>
      <noscript>
      <div style="display:none;">
      <img src="//pixel.quantserve.com/pixel/p-zDSJvX5A5tzaF.gif" border="0" height="1" width="1" alt="Quantcast"/>
      </div>
      </noscript>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35092756-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>

  <body>
    <!-- topbar -->
    <% if current_user %>
    <%= render 'layouts/admin-scripts' %>
    <%= render 'layouts/topbar' %>
    <% end %>

    <!-- HEADER -->
    <header id="header" class="container">
      <div class="one-third column">
        &nbsp;
        <div id="social-media-buttons-header">
          <ul>
            <li>
              <a href="https://www.youtube.com/user/americanpoliticsinfo/featured" id="yt-link-top"></a>
            </li>
            <li>
              <a href="http://www.facebook.com/AP411" id="facebook-link-top"></a>
            </li>
            <li>
              <a href="https://twitter.com/AP_411" id="twitter-link-top"></a>
            </li>
            <li>
              <a href="http://www.americanpolitics411.com/article/feed" id="rss-link-top"></a>
            </li>
          </ul>
        </div>
        <div id="time-now"><%= Time.now.to_date.strftime("%e %B %Y") %></div>
      </div>
      <div class="one-third column logo">
        <a href="http://www.americanpolitics411.com" ><img src="/assets/beta.png"></a>
      </div>
      <div class="one-third column">
        <div class="google-search"><gcse:searchbox-only></gcse:searchbox-only></div>
      </div>
    </header>

    <!-- NAVIGATION -->
    <div id="content-wrap" class="container clearfix">
      <nav id="header-nav" class="sixteen columns clearfix">
        <ul id="menu-header" class="menu clearfix">
          <li id="menu-item-news"><a href="http://www.americanpolitics411.com/news/">News</a></li>
          <li id="menu-item-research" class="menu-item"><a href="http://www.americanpolitics411.com/research/">Research</a></li>
          <li id="menu-item-events" class="menu-item"><a href="http://www.americanpolitics411.com/event/">Events</a></li>
          <li id="menu-item-officials" class="menu-item"><a href="http://opensource.americanpolitics411.com/people/representatives">Officials</a></li>
          <li id="menu-item-legislation" class="menu-item"><a href="http://opensource.americanpolitics411.com/legislation">Legislation</a></li>
          <li id="menu-item-pundit-cafe" class="menu-item"><a href="http://www.americanpolitics411.com/pundit-cafe/">The Pundit Cafe</a></li>
          <li id="menu-item-internships" class="menu-item"><a href="http://www.americanpolitics411.com/internships/">Internships</a></li>
        </ul>
      </nav>
      <!-- BODY -->
      <%= yield %>

      <hr class="sixteen columns">
    </div>

    <!-- FOOTER -->
    <footer id="footer" class="container clearfix">
      <nav id="footer-nav" class="twelve columns alpha">
        <ul id="menu-footer" class="menu clearfix"><li class="menu-item"><a href="http://www.americanpolitics411.com/news/">News</a></li>
          <li class="menu-item"><a href="http://www.americanpolitics411.com/research/">Research</a></li>
          <li class="menu-item"><a href="http://www.americanpolitics411.com/event/">Events</a></li>
          <li class="menu-item"><a href="http://opensource.americanpolitics411.com/people/representatives">Officials</a></li>
          <li class="menu-item"><a href="http://opensource.americanpolitics411.com/legislation">Legislation</a></li>
          <li class="menu-item"><a href="http://www.americanpolitics411.com/pundit-cafe/">The Pundit Cafe</a></li>
          <li class="menu-item"><a href="http://www.americanpolitics411.com/internships/">Internships</a></li>
          <li class="menu-item"><a href="http://www.americanpolitics411.com/about-us/">About</a></li>
          <li class="menu-item"><a href="http://www.americanpolitics411.com/contact-us/">Contact</a></li>
        </ul>   
      </nav>

      <div class="four columns omega">
        <p class="copyright">Copyright 2012 American Politics 411</p>
      </div>
      <div class="four columns omega">
        &nbsp;
        <div id="social-media-buttons-footer">
          <ul>
            <li>
              <a href="https://www.youtube.com/user/americanpoliticsinfo/featured" id="yt-link-bottom"></a>
            </li>
            <li>
              <a href="http://www.facebook.com/AP411" id="facebook-link-bottom"></a>
            </li>
            <li>
              <a href="https://twitter.com/AP_411" id="twitter-link-bottom"></a>
            </li>
            <li>
              <a href="http://www.americanpolitics411.com/article/feed" id="rss-link-bottom"></a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
