<!doctype html>
<html lang="en">
  <head>
    <title>american politics 411 | <%= @page_title %></title>
    <%= stylesheet_link_tag    'base', 'skeleton', 'layout', 'style', 'person', 'committees', 'application', 'public' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <script type='text/javascript'>
      (function (d, t) {
        var bh = d.createElement(t), s = d.getElementsByTagName(t)[0];
        bh.type = 'text/javascript';
        bh.src = '//www.bugherd.com/sidebarv2.js?apikey=cicnxxbktlq96gt8y3iwpq';
        s.parentNode.insertBefore(bh, s);
      })(document, 'script');
    </script>
  </head>
  <body>
    <!-- topbar -->
    <% if current_user %>
    <%= render 'layouts/admin-scripts' %>
    <%= render 'layouts/topbar' %>
    <% end %>

    <!-- HEADER -->
    <header id="header" class="container">
      <div class="one-third column">
        &nbsp;
        <div id="social-media-buttons-header">
          <ul>
            <li>
              <a href="https://www.youtube.com/user/americanpoliticsinfo/featured" id="yt-link-top"></a>
            </li>
            <li>
              <a href="http://www.facebook.com/AP411" id="facebook-link-top"></a>
            </li>
            <li>
              <a href="https://twitter.com/AP_411" id="twitter-link-top"></a>
            </li>
            <li>
              <a href="http://ap411.pagodabox.com/article/feed" id="rss-link-top"></a>
            </li>
          </ul>
        </div>
        <div id="time-now"><%= Time.now.to_date.strftime("%e %B %Y") %></div>
      </div>
      <div class="one-third column logo">
        <a href="http://ap411.pagodabox.com" ><img src="/assets/ap411-logo.png"></a>
      </div>
      <div class="one-third column">
        <div id="mc_embed_signup" style="position: absolute; bottom:10px; right:0;">
          <form id="mc-embedded-subscribe-form" class="validate" action="http://americanpolitics411.us4.list-manage1.com/subscribe/post?u=8ae222f324deb2dc741b0a803&amp;id=0bbbe305b0" method="post" name="mc-embedded-subscribe-form" target="_blank">
            <div class="mc-field-group">
              <input id="mce-EMAIL" class="required email" style="background: transparent; border-top: 1px solid #BBB; border-right: none; border-bottom: 1px solid #BBB; border-left: 1px solid #BBB; color: #444; float: left; font-size: 10px; height: 23px; line-height: 23px; margin: 0; padding: 0 5px; width: 170px;" onfocus="if(this.value == 'Sign up for our newsletter') { this.value = ''; }" type="email" name="EMAIL" value="Sign up for our newsletter" /> 
              <input id="mc-embedded-subscribe" style="background: #9F1D21; border-top: 1px solid #BBB; border-right: 1px solid #BBB; border-bottom: 1px solid #BBB; border-left: none; color: #fff; float: left; height: 25px; width: 41px; font-size: 12px; line-height: 13px; margin: 0; padding: 0 10px; font-weight: 700; text-shadow: none !important; border-radius: 0" type="submit" name="subscribe" value="Go" />
            </div>
          </form>
        </div>
      </div>
    </header>

    <!-- NAVIGATION -->
    <div id="content-wrap" class="container clearfix">
      <nav id="header-nav" class="sixteen columns clearfix">
        <ul id="menu-header" class="menu clearfix">
          <li id="menu-item-news"><a href="http://ap411.pagodabox.com/news/">News</a></li>
          <li id="menu-item-research" class="menu-item"><a href="/">Research</a></li>
          <li id="menu-item-events" class="menu-item"><a href="http://ap411.pagodabox.com/events/">Events</a></li>
          <li id="menu-item-officials" class="menu-item"><a href="http://opensource.americanpolitics411.com/people/representatives">Officials</a></li>
          <li id="menu-item-legislation" class="menu-item"><a href="http://opensource.americanpolitics411.com/legislation">Legislation</a></li>
          <li id="menu-item-pundit-cafe" class="menu-item"><a href="http://ap411.pagodabox.com/pundit-cafe/">The Pundit Cafe</a></li>
          <li id="menu-item-internships" class="menu-item"><a href="http://ap411.pagodabox.com/internships/">Internships</a></li>
        </ul>
      </nav>
      <!-- BODY -->
      <%= yield %>

      <hr class="sixteen columns">
    </div>

    <!-- FOOTER -->
    <footer id="footer" class="container clearfix">
      <nav id="footer-nav" class="twelve columns alpha">
        <ul id="menu-footer" class="menu clearfix"><li class="menu-item"><a href="http://ap411.pagodabox.com/news/">News</a></li>
          <li id="menu-item-research" class="menu-item"><a href="/">Research</a></li>
          <li id="menu-item" class="menu-item"><a href="http://ap411.pagodabox.com/events/">Events</a></li>
          <li id="menu-item" class="menu-item"><a href="http://opensource.americanpolitics411.com/people/representatives">Officials</a></li>
          <li id="menu-item" class="menu-item"><a href="http://opensource.americanpolitics411.com/legislation">Legislation</a></li>
          <li id="menu-item" class="menu-item"><a href="http://ap411.pagodabox.com/pundit-cafe/">The Pundit Cafe</a></li>
        </ul>   
      </nav>

      <div class="four columns omega">
        <p class="copyright">Copyright 2012 American Politics 411</p>
      </div>
      <div class="four columns omega">
        &nbsp;
        <div id="social-media-buttons-footer">
          <ul>
            <li>
              <a href="https://www.youtube.com/user/americanpoliticsinfo/featured" id="yt-link-bottom"></a>
            </li>
            <li>
              <a href="http://www.facebook.com/AP411" id="facebook-link-bottom"></a>
            </li>
            <li>
              <a href="https://twitter.com/AP_411" id="twitter-link-bottom"></a>
            </li>
            <li>
              <a href="http://ap411.pagodabox.com/article/feed" id="rss-link-bottom"></a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
